﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VerificaBanco.aspx.cs" Inherits="Ferramentas_VerificaBanco" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Verifica Banco</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Verificação de atualização de Tabelas
    </div>
    </form>
</body>
</html>
