﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"  %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

	<!-- bnr-principal -->
	<div class="bnr-principal">

                <div class="bread">
			    <dl>
				    <dt0>Você está em:</dt0>
				    <dt><a href="/">Home</a></dt>
                    <dd>Erro</dd>
			    </dl>
		    </div>
	</div>
	<!-- /bnr-principal -->
	<!-- area-conteudo-detalhe -->
	<div class="area-conteudo-detalhe-tipo2">



	</div>
	<!-- /area-conteudo-detalhe -->

</asp:Content>
