﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PDG - ERRO NO APLICATIVO</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />

</head>
<body>

	<!-- header -->
<div class="header" id="topo" style="height:140px;">
        <!-- menu superior -->
        


        <h1>
            <a href="/">PDG</a></h1>
        

    </div>




	<!-- /header -->


    	<!-- area-conteudo-detalhe -->
	<div class="area-conteudo-detalhe">


		<!-- vitrine -->
		<div class="vitrine" style="height:300px; width:1010px;">
            <h3 style="text-align:left; vertical-align:top; ">
                <img src="imagens/ico-error.png" alt="Erro" /><span id="MainContent_lblTituloPagina" style="color:#880000;margin-left:70px; font-size:30px; padding-bottom:20px; ">ERRO ENCONTRADO</span></h3>
            
		<TABLE id="Table1" width="100%" border="0" cellSpacing="0" cellPadding="0">

			<TR bgColor="#dddddd" >
				<TD><div style="margin: 10px;">Descrição do Erro:<BR>
				    <STRONG>#ERRO#</STRONG>
                </div></TD>
			</TR>
		</TABLE>
        <div style="margin: 10px;">
			<strong>Tente o Seguinte:</strong>
			<UL>
				<LI>Retorne a <A href="/">página inicial</A> e refaça o procedimento;</LI> 
				<LI>Verifique se sua conexão com o servidor não está com problemas ou instabilidades;</LI> 
				<LI>#EMAIL#</LI>
			</UL>
        </div>


		</div>
		<!-- /vitrine -->
		
		<div class="cb"></div>
	</div>
	<!-- /area-conteudo-detalhe -->

    <%--RODAPE INICIO--%>

    <div class="hidden-phone">
        <div class="rodape">



        </div>
    </div>




    <%--RODAPE INICIO--%>





<!--

#ERRO#

#TRACE#

-->
	</body>
</html>
