﻿

  body {
            background: url(/img/bg-login2.jpg) fixed center / cover;
            background-size: cover;
            padding: 0;
            margin: 0;
        }

        .wrap {
            width: 100%;
            height: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }

        .form-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            letter-spacing: 4px;
            background: #FFF;
        }
		
		#primeiro-acesso .modal-dialog .modal-title span{
			float:left;
			margin-top: 13px;
			padding-left: 10px;
		}
		
		
		#primeiro-acesso .modal-dialog .modal-title img{
			float:left;
		}
		#primeiro-acesso .modal-dialog{
			height: 380px;
			background: #FFF;
			border-radius: 6px;
		}
		
		#primeiro-acesso .modal-dialog p {
			color: #666;
			font-size: 14px;
			width: 100%;
			text-align: left !important;
			padding: 4px 0;
		}
		#primeiro-acesso .modal-dialog .form-modal{
			padding-top: 50px;
		}

        form {
            width: 70%;
            margin: 0 auto;
        }

        p {
            color: #d4d4d4;
            font-size: 12px;
            width: 100%;
            text-align: left !important;
            padding: 4px 0;
        }

        form.login input[type="text"], form.login input[type="password"] {
            width: 100%;
            margin: 0;
            padding: 5px 10px;
            background: 0;
            border: 0;
            border-bottom: 1px solid #FFFFFF;
            outline: 0;
            font-style: italic;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 5px;
            color: #FFFFFF;
            outline: 0;
        }

        form.login input[type="submit"] {
            width: 100%;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 16px;
            outline: 0;
            cursor: pointer;
            letter-spacing: 1px;
        }

            form.login input[type="submit"]:hover {
                transition: background-color 0.5s ease;
            }

        form.login .remember-forgot {
            float: left;
            width: 100%;
            margin: 0;
        }

        form.login .forgot-pass-content {
            min-height: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        form.login label, form.login a {
            font-size: 15px;
            font-weight: 400;
            color: #FFFFFF;
        }

        form.login a {
            transition: color 0.5s ease;
        }

            form.login a:hover {
                color: #2ecc71;
            }

        .pr-wrap {
            width: 100%;
            height: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            display: none;
        }

        .show-pass-reset {
            display: block !important;
        }

        .pass-reset {
            margin: 0 auto;
            width: 250px;
            position: relative;
            margin-top: 22%;
            z-index: 999;
            /*background: #FFFFFF;*/
            padding: 20px 15px;
        }

            .pass-reset label {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 15px;
            }

        .dropup {
            text-align: center;
        }

        .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
            background: #ce941c !important;
            color: #FFF !important;
        }

        .pass-reset input[type="email"] {
            width: 100%;
            margin: 5px 0 0 0;
            padding: 5px 10px;
            background: 0;
            border: 0;
            border-bottom: 1px solid #000000;
            outline: 0;
            font-style: italic;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 5px;
            color: #000000;
            outline: 0;
        }

        .line {
            border-right: 1px solid #ce941c;
        }

        .pass-reset input[type="submit"] {
            width: 100%;
            border: 0;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 10px;
            outline: 0;
            cursor: pointer;
            letter-spacing: 1px;
        }

            .pass-reset input[type="submit"]:hover {
                transition: background-color 0.5s ease;
            }

        .posted-by {
            position: absolute;
            bottom: 26px;
            margin: 0 auto;
            color: #FFF;
            background-color: rgba(0, 0, 0, 0.66);
            padding: 10px;
            left: 45%;
        }

        .box-login {
            background: url(/img/bg-login2.jpg) no-repeat center / cover;
            height: 100%;
            padding: 0;
        }

        body, html {
            height: 100%;
            width: 100%;
        }

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 22px;
            border-bottom: 1px solid #5b59a2;
            margin: 0 10%;
            padding: 20px 0px;
            width: 80%;
        }

        .downloads {
            color: #FFF;
            text-align: center;
            font-size: 15px;
            border-bottom: 1px solid #5b59a2;
            margin: 0 10%;
            padding: 20px 0px;
            width: 80%;
        }

        .form-control {
            border: 1px solid #bbbad2 !important;
            border-radius: 0 !important;
            font-size: 16px !important;
            color: #a6a6a6 !important;
            margin-bottom: 0 !important;
            height: 57px !important;
            transition: all ease-out 0.2s;
        }

        .input-group-addon {
            background: #FFF;
            border-radius: 0 !important;
            color: #36347b;
            padding: 10px 22px;
        }

        .input-group {
            margin-bottom: 10px;
            height: 57px;
        }

        .btn-success {
            background: #eaae31;
            color: #FFF;
            border-radius: 0 !important;
            border: 0;
            height: 57px;
            font-size: 15px !important;
            margin: 0 !important;
            padding: 0 29px;
            line-height: 29px;
        }

            .btn-success:hover {
                background: #ce941c;
            }

        .bt-login {
            background: #eaae31;
        }

        .bt-login {
            background: #ce941c;
            border-radius: 0 !important;
            box-shadow: 0 !important;
            border: 0;
            margin: 0;
            color: #FFF;
            font-size: 19px;
        }

        .extras, .extras label, .extras a {
            color: #a6a6a6 !important;
            text-align: center;
            padding: 0;
        }

        form.login label, form.login a {
            font-size: 15px;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 23px;
        }

        h3 {
            color: #eaae31;
            text-align: center;
            font-size: 20px;
        }

        .central-atendimento {
            width: 100%;
            text-align: center !important;
        }

            .central-atendimento p {
                color: #FFF;
                font-size: 12px;
                text-align: center !important;
            }

                .central-atendimento p strong {
                    color: #FFF;
                    font-size: 16px;
                }

        .btns-login a {
            font-size: 18px !important;
            padding: 5px 0px;
            margin-right: 10px;
            color: #a6a6a6 !important;
            text-decoration: none !important;
        }

        a:hover, label :hover {
            text-decoration: none !important;
            color: #eaae31 !important;
        }

        .btns-login a.ativo {
            border-bottom: 3px solid #eaae31;
            color: #FFF !important;
        }

        .btns-login {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .btn-success:focus, .btn-success:hover {
            background: #eaae31 !important;
        }

        .form-control:focus {
            background: #FFF !important;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,255,255,0.80);
        }

        .box-rodape {
            background: #eaae31 none repeat scroll 0 0;
            bottom: 0;
            padding: 15px 30px;
            position: fixed;
            right: 0;
        }

		.checkbox label, .radio label {
			padding-left: 0;
		}
		
		.dropdown-toggle {
			background: none;
			border: none;
			box-shadow: none;
			color: #FFF;
			transition: all ease-in 0.2s;
		}
		
		.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
			background: none !important;
		}
		.btn-default:focus, .btn-default:hover{
			background: none !important;
			color: #FFF;
		}
		
		
		.btn.btn-default.dropdown-toggle:hover, .btn.btn-default.dropdown-toggle:active, .btn.btn-default.dropdown-toggle:facus {
			
			color: #FFF;
		}
		.dropdown-menu {
			background: #6c7379;
			border-bottom: 5px solid #35337d;
			color: #FFF;
		}
		.dropdown-menu > li > a {
			color: #FFF;
		}
		
		.dropdown-menu .divider {
			background-color: #666;
		}
		
		.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
			background: none;
		}

        @media (min-height: 900px) and (max-height: 1200px) {
            .form-title {
                padding: 12px 0;
            }

            h2 {
                padding: 39px 0;
            }

            .btns-login {
                margin-bottom: 30px;
                margin-top: 20px;
            }

            .downloads {
                font-size: 19px;
                padding: 28px 0;
            }

            .input-group {
                height: 65px;
                margin-bottom: 30px;
            }

            .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
                padding: 10px 26px;
            }

            .form-control {
                height: 65px !important;
            }

            .btn-success {
                font-size: 18px !important;
                height: 65px;
                padding: 0 53px;
            }

            .btn-entrar {
                padding-top: 20px;
            }

            h3 {
                font-size: 26px;
            }

            .central-atendimento p {
                font-size: 17px;
            }

                .central-atendimento p strong {
                    font-size: 21px;
                }
        }

        @media (min-width: 0px) and (max-width: 600px) {
            .box-rodape {
                position: relative;
                padding: 30px 30px;
            }

            .dropup {
                width: 30%;
                float: left;
                margin-top: -14px;
            }
        }




.login-box-forgot, .register-box-forgot {
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box-body, .login-box-forgot {
    display: none;
}
.visible {
    display: block !important;
}


@media (min-width: 0px) and (max-width: 600px) {
form {
    width: 85%;
    margin: 0 auto;
}
}