﻿*{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
body
{
    padding: 0;
    margin: 0;
}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.span {
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin: 2px 2px 2px 2px;
    padding: 10px;
    position: relative;
     background: #38367e;
    color: white;
    position: relative;
    width: 100%;
    text-align: left;
    text-transform: uppercase;

}
.telefones i{
	color: #FFF;
	font-size: 30px;
	background: #eaae31;
	padding: 28px 16px;
	border-radius: 10px;
}
.telefones .col-md-3{
	background: #ededed;
	border-radius: 10px;
	padding: 0;
	margin: 0;
	margin-right: 20px;
}
.telefones span{
	display: inline-block;
	padding: 5px;
	color: #5a5a5a;
}
.text-desc-img {
    bottom: 50px;
    color: #c8c8c8;
    float: right;
    position: relative;
    right: 20px;
    text-shadow: 1px 1px 1px #000;
    z-index: 0;
}
.imovel-urbanismo{
	display: none;
}
.imovel-status{
	display: none;
}
.vermais {
    background: #fdaf17 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 3px 14px;
    text-transform: capitalize;
}
.vermais:hover {
    color: #fff;
}
.telefones b {
    font-size: 23px;
	margin-bottom: 5px;
}

.telefones b {
    font-size: 23px;
	margin-bottom: 5px;
}
.azul{
	color: #38367e;
}

.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
	background:#FFF;
}
.dicionario .bollot{
	background: #fdaf17;
	padding: 10px 17px;
	color: #FFF;
	font-size: 20px;
	border-radius: 50%;
	margin-left: -6px;
}
.porcentagem {
    background: rgba(0, 0, 0, 0) url("../img/tooltip.png") no-repeat scroll 0 0;
    float: left;
    height: 37px;
    line-height: 23px;
    margin-top: -3px;
    position: absolute;
    right: -55px;
    width: 61px;
}
.dicionario{
	border: none !important;
	margin-bottom: 5px;
}
.list-dicionario p{
	padding-left: 40px !important;
	border-left: 1px solid #cbcbcb;
}
.dicionario .collapsed .bollot{
	background: #38367e !important;
}
form
{
    width: 70%;
    margin: 0 auto;
}
p {
    color: #000;
    float: left;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.right{
	text-align: right !important;
}
.zoom1{
	transform: scale(0.8);
}

.zoom1.item .bollet {
    left: 35%;
}
.menu-guia .zoom1.item .btn_menu{
	padding: 2px 15px;
	height: 145px;
}

.message-preview > a {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ededed !important;
}
.message-preview > a:hover {
    background: rgba(241,239,239,1.00) none repeat scroll 0 0 !important;
    border-bottom: 1px solid #ededed;
}

.imgmo {
    width: 100%;
}

.cadastros{
	float: left;
	width: 100%;
}
.fechar {
    color: #666;
    float: right;
    font-size: 25px;
    height: 30px;
    position: relative;
    right: -37px;
    text-align: center;
    top: -15px;
    width: 38px;
}
.fechar:hover {
	cursor: pointer;
}
form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin:  0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}
.dropup{
	text-align: center;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
	background: #ce941c !important;
	color:#FFF  !important;
}
.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}
.line {
    border-top: 2px solid #fff;
    margin-top: -107px;
    padding-bottom: 30px;
    width: 100%;
}
.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}
.box-login{
	background: url(img/bg-login2.jpg) no-repeat center / cover;
	height: 100%;
	padding:0;
}
h2{
	color: #FFF;
	text-align: center;
	font-size: 22px;
	border-bottom: 1px solid #5b59a2;
	margin: 0 10%;
	padding: 20px 0px;
	width: 80%;
}
.bollet {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #eaae31;
    border-radius: 20px;
    bottom: -10px;
    display: initial;
    float: left;
    height: 25px;
    left: 44%;
    position: relative;
    width: 25px;
	transition: all ease-in 0.2s;
	margin-bottom:10px;
}

.downloads{
	color: #FFF;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px solid #5b59a2;
	margin: 0 10%;
	padding: 20px 0px;
	width: 80%;
}
.form-control {
    border: 1px solid #bbbad2  !important;
    border-radius: 0  !important;
    font-size: 16px !important;
    color: #a6a6a6  !important;
	margin-bottom: 0 !important;
	height: 57px !important;
	transition: all ease-out 0.2s;

}
.input-group-addon{
	background: #FFF;
	border-radius: 0  !important;
	color: #36347b;
	padding: 10px 22px;
}
.input-group {
    margin-bottom: 10px;
	height: 57px;
}
.btn-success {
    background: #eaae31;
    color: #FFF;
    border-radius: 0 !important;
    border: 0;
    height: 57px;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 29px;
    line-height: 29px;
}
.btn-success:hover {
    background: #ce941c;
}
.bt-login{
	background: #eaae31;
}
.bt-login{
	background: #ce941c;
	border-radius: 0 !important;
	box-shadow: 0 !important;
	border: 0;
	margin:0;
	color: #FFF;
	font-size: 19px;
}
.extras, .extras label, .extras a {
    color: #a6a6a6 !important;
    text-align: center;
	padding: 0;
}
form.login label, form.login a {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 23px;
}
h3{
	color: #eaae31;
	text-align: center;
	font-size: 20px;
}
.central-atendimento{
	width: 100%;
	text-align: center !important;
}
.central-atendimento p{
	color: #FFF;
	font-size: 12px;
	text-align: center  !important;
}
.central-atendimento p strong{
	color: #FFF;
	font-size: 16px;
}
.btns-login a{
	font-size: 18px !important;
	padding:  5px 0px;
	margin-right: 10px;
	color: #a6a6a6 !important;
	text-decoration: none !important;
	
}
 a:hover,  label :hover{
	text-decoration: none !important;
	color: #eaae31 !important;
	
}
.btns-login a.ativo{
	border-bottom: 3px solid #eaae31;
	color: #FFF  !important;
}
.btns-login{
	margin-top: 10px;
	margin-bottom: 20px;
}
.btn-success:focus, .btn-success:hover{
	background: #eaae31 !important
}
.form-control:focus{
	background: #FFF !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,255,255,0.80);
}
.box-rodape {
    background: #eaae31 none repeat scroll 0 0;
    bottom: 0;
    padding: 15px 30px;
    position: fixed;
    right: 0;
}
.checkbox label, .radio label {
    padding-left: 0;
}
.dropdown-toggle{
	background: none;
	border:  none;
	box-shadow: none;
	color:#FFF;
	transition:all ease-in 0.2s;
}
tr:hover i{
	color: rgba(239,11,15,1.00);
	cursor: pointer;
}
.dropdown-toggle:hover{
	background: #ce941c;
	color:#FFF;
}
.dropdown-menu {
    background: #6c7379;
    border-bottom: 5px solid #35337d;
    color: #FFF;
}
.dropdown-menu>li>a{
	color: #FFF;
}
.paddingnoneleft{
	padding: 8px 0 !important;
}
.dropdown-menu .divider {
    background-color: #666;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background: none;
}
.bt-download {
    background: #fdaf17;
    width: 100%;
    padding: 10px;
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 0 3px 3px 0;
}
.bt-download:hover {
    color: #FFF !important;
	background: #eaa114;
	cursor: pointer;
}

/* Index */

.top-nav {
    padding: 0 0;
}

.navbar-right {
    margin-right: 0;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	width: auto;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
.navbar-brand {
    height: auto;
	padding: 7px 40px;
	background: #FFF;
}
.navbar-brand:hover {
	background: #FFF !important;
}
.navbar {
	background: #38367e;
}
.navbar-inverse{
	border-bottom: 4px solid #e3e3e3;
}
.top-nav > li > a {
    color: #999;
    line-height: 21px;
    padding-bottom: 34px;
    padding-top: 34px;
	background: #6c7379;
	font-weight: bold;
}
.top-nav > li > a:hover {
	background: #5a6269;
}

.fa.fa-user, .fa.fa-bell, .fa.fa-power-off, .fa.fa-building-o{
    color: #3b3f43;
    font-size: 22px;
}
.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px dashed;
	color: #3b3f43;
	margin-top: -8px;
}
.dropdown-toggle{
	border-right: 1px solid #7f868c;
}
.menu-top {
	padding-left: 0 !important;
}
.menu-top a{
	background: #38367e !important;
	color: #FFF !important;
	text-transform: uppercase;
	padding-left: 50px;
	padding-right: 50px;
	border-right: 1px solid #525197;
	transition: all ease-out 0.2s;
}
.menu-top a:hover{
	background: #2e2c72 !important;
}
.nav.navbar-left.top-nav.menu-top a span{
	transition: all ease-in 0.2s;
}
.border-box h5{
	color: #38367e;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
}
.border-box b{
	color: #fa0000;

}
.bg-pre{
	background: rgba(20,19,64,0.89);
	z-index: 9999999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.modal-pre{
	z-index: 9999999;
	width: 80%;
	height: 80%;
	left: 10%;
	position: fixed;
	top: 0;
	text-align: center;
	color: #FFF;
	margin-top: 120px;
}
.modal-pre .slick-slide {
    margin-bottom: 53px;
}
.modal-pre img{
	border: 4px solid #FFF;
}
.modal-pre a{
	color: #FFF;
	transition: all ease-in 0.2s;
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
}
.modal-pre a:hover{
	color: #FFF;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	cursor: pointer;
}
.modal-pre span{
	margin-top: 20px;
	font-weight: bold;
	padding-top: 0;
	font-size: 18px;
	margin-bottom: 5px;
	float:left;
	color: #FFF;
	width: 100%;
}
.modal-pre  i{
	border: 2px solid #fdaf17;
	padding: 12px 14px;
	color:  #fdaf17;
	border-radius: 4px;
	margin-top: 5px;
}
.modal-pre h1{
	text-align: center !important;
	font-size: 30px;
	float: left;
	width: 100%;
	margin-bottom: 40px;
	position:relative;
}
.nav.navbar-left.top-nav.menu-top a:hover span{
	border-bottom: 4px solid #eaae31;
	position: absolute !important;
	bottom: -6px !important;
	left: 0 !important;
	height: 5px;
	margin-top: 100px;
	width: 100%;
}
.border-box{
	border: 1px solid #ddd;
	padding: 20px 0;
}
.total{
	background: #38367e;
	color: #FFF;
	border-radius: 5px;
}
.total:hover{
	background: #2f2d79 !important;
}
footer{
	padding: 8px;
	background: #38367e;
	bottom: 0;
	position: fixed;
	width: 100%;
	color: #FFF;
	text-align: right;
	font-size: 12px;
}
.perfil{
	background: #eaae31 !important;
	color: #eaae31;
	width: 200px;
	padding: 10px;
	line-height: 5px;
}
.container.cont-guia{
	margin-bottom: 60px;
}
.perfil h6{
	color: #fff;
}
.perfil h3{
	color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus{
	background: #eaae31;
}
.dropdown-toggle:hover i, .dropdown-toggle:hover .caret{
	color: #FFF !important;
}

.open .fa.fa-user, .open .caret, .open .fa.fa-bell{
	color: #FFF;
}
#exit {
    padding: 34px 21px !important;
}
#exit:hover {
	background: #c0444d !important;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown-menu{
    background: #eaae31 !important;
}
.dropdown-menu.message-dropdown{
    background: rgba(247,247,247,1.00) !important;
}
.text-muted {
    color: #FFF;
}
.media-body p {
    color: #FFF;
	padding: 0;
}
.media-heading strong, .message-footer a{
	color: #666 !important;
}
.media-body p{
	color: #666 !important;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
.dropdown-menu a {
   border-bottom: 1px solid #3e3c8b;
    float: left;
    font-size: 12px !important;
    margin: 0;
    padding: 6px 9px !important;
    position: relative;
    text-transform: none;
    width: 100% !important;
}
.dropdown-menu.sub{
	border: none !important;
	background: #38367e none repeat scroll 0 0 !important;
	border-top: 4px solid #eaae31 !important;
	top: 103%;
	width: 100%;
} 
.dropdown-menu.sub a:hover{
	border-left: 4px solid #eaae31 !important;
} 
.menu-guia{
	margin-top: 120px;
	padding-bottom: 20px;
	width: 80%;
}
.menu-guia .item{
	padding: 10px;
	transition: all ease-in 0.2s;
}
.menu-guia.principal .item:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	z-index: 10px;
	cursor: pointer;
}
.menu-guia .item:hover .bollet{
	width: 40px;
	height: 40px;
	margin-top: -5px;
	margin-left: -2.5px;
}

.menu-guia .item .btn_menu{
	background: -moz-linear-gradient(-45deg,  rgba(67,66,130,0.8) 0%, rgba(67,66,130,0.87) 49%, rgba(53,52,114,0.87) 50%, rgba(53,52,114,0.95) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(67,66,130,0.8) 0%,rgba(67,66,130,0.87) 49%,rgba(53,52,114,0.87) 50%,rgba(53,52,114,0.95) 100%);
	background: linear-gradient(135deg,  rgba(67,66,130,0.8) 0%,rgba(67,66,130,0.87) 49%,rgba(53,52,114,0.87) 50%,rgba(53,52,114,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc434282', endColorstr='#f2353472',GradientType=1 );
	padding: 20px;
	width: 100%;
	border-left: 2px solid #2f2e67;
	border-right: 2px solid #4341a4;
	border-top: 2px solid #2f2e67;
	border-bottom: 2px solid #4341a4;
	height: 195px;
	transition: all ease-out 0.2s;
}
.menu-guia .item .btn_menu:hover, .menu-guia .item .btn_menu.active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6983c+50,cd9d3a+51,cd9d3a+51&0.9+0,0.8+100 */
	background: -moz-linear-gradient(top,  rgba(198,152,60,0.9) 0%, rgba(198,152,60,0.85) 50%, rgba(205,157,58,0.85) 51%, rgba(205,157,58,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(198,152,60,0.9) 0%,rgba(198,152,60,0.85) 50%,rgba(205,157,58,0.85) 51%,rgba(205,157,58,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(198,152,60,0.9) 0%,rgba(198,152,60,0.85) 50%,rgba(205,157,58,0.85) 51%,rgba(205,157,58,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c6983c', endColorstr='#cccd9d3a',GradientType=0 ); /* IE6-9 */
	border-left: 2px solid #9c7422;
	border-right: 2px solid #e5ac36;
	border-top: 2px solid #9c7422;
	border-bottom: 2px solid #e5ac36;

}
.menu-guia h1{
	color: #FFF;
	text-align: center;
	width: 100%;
	font-size: 26px;
	margin-bottom: 20px;
}
.cont-guia{
	background: #FFF;
	padding: 30px 50px;
	display: none;
	min-height: 400px;
}
.multiple-items {
	margin-top: 200px;
}
.cont-guia h5{
	color: #e2b32a;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	float: left;
	width: 100%;
}
.cont-guia li{
	color: #737e84;
	margin: 0;
	padding: 0;
}
.cont-guia li a{
	color: #737e84;
}
.cont-guia ul{
	margin-left: 13px;
	padding: 0;
	float:left;
}
.cont-guia h3{
	color: #e2b32a;
	font-size: 30px;
	text-align: left;
}
.cont-guia .box p {
    font-size: 10px;
}
.cont-guia p {
    color: #737e84;
    font-size: 14px;
    padding: 8px;
}
.cont-guia p strong {
    font-size: 13px;
}
.cont-guia .box {
    border: 1px solid #e4aa33;
    float: left;
	margin-top: 50px;
}
.cont-guia .box .col-md-7, .cont-guia .box .col-md-5{
    padding: 0 !important;
}
.cont-guia h4 {
    color: #eaae31;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 8px;
    width: 100%;
} 
.icon {
    height: 100px;
    margin-left: 5px;
    margin-top: 20px;
    width: 90%;
}
.icon.stand {
    background: rgba(0, 0, 0, 0) url("../img/notebook.svg") no-repeat scroll center center;
}
.icon.obra {
    background: rgba(0, 0, 0, 0) url("../img/tool.svg") no-repeat scroll center center;
}
.icon.vistoria {
    background: rgba(0, 0, 0, 0) url("../img/check.svg") no-repeat scroll center center;
}
.icon.financeiro {
    background: rgba(0, 0, 0, 0) url("../img/dollar.svg") no-repeat scroll center center;
}
.icon.agi {
    background: rgba(0, 0, 0, 0) url("../img/agi.svg") no-repeat scroll center center;
}
.icon.chave {
    background: rgba(0, 0, 0, 0) url("../img/chave.svg") no-repeat scroll center center;
}

.icon.manutencao {
    background: rgba(0, 0, 0, 0) url("../img/manutencao.svg") no-repeat scroll center center;
}
.multiple-items{
	transition: all ease-in 0.2s;
}


/* -------------- interna --------------------- */
h2.titulo-geral {
    border-bottom: 3px solid #d5d5d5;
    color: #38367e;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin: 120px 0 10px 0;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
	text-align: left;
	text-transform: uppercase;
}


h2.titulo-geral span {
    background: #eaae31 none repeat scroll 0 0;
    bottom: -3px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 190px;
	
}
.interna{
	background: #FFF;
}
.interna p {
    color: #404040;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}
.form{
	width: 100%;
	margin-top: 50px;
}
.form .camp{
	padding: 0;
}
.campleft{
	padding-left: 0;
	padding-right: 50px;
	border-right: 1px solid #CDCDCD;
}
.campright{
	padding-right: 0;
	padding-left: 50px;
	
}

.form .input-group{
	margin-bottom: 10px !important;
}
.form .input-group {
    height: 55px !important;
}
.form .input-group-addon{
	background: #d8d8d8 !important;
	border-radius: 4px 0 0 4px !important
}
.form .input-group-addon i{
	color: #FFF !important;
	font-size: 18px !important;
}
/*.form .form-control {
    height: 55px !important;
}*/

.form-control {
    font-size: 13px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #9cb0c3;
    transition-duration: .5s;
    box-shadow: inset 1px 1px 7px #E7E7E7;
}

    .form-control:focus {
        border-color: #42a5f5;
        box-shadow: none;
        transition-duration: .5s;
    }

    .form-control:focus-feedback {
        z-index: 10;
    }

.has-error .form-control,
.has-warning .form-control,
.has-success .form-control {
    box-shadow: none !important;
}

i.form-control-feedback {
    line-height: 25px;
}
.form .input-group input:focus {
	border: 1px solid #fdaf17 !important;
}
.row.mini {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#table-comprovantes a{
    line-height: 39px;
}
#table-comprovantes .deletar a{
    line-height: 20px;
}
.deletar{
	text-align: right;
	color: #FFF;
}
.fa.fa-trash-o.fa-1x {
    color: #fff;
}
.btn-acao{
	background: #38367e;
	padding: 0 20px 0 0;
	border: 0;
	color: #FFF !important;
	border-radius: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	float: right;
}
.btn-acao:hover i{
	color: #FFF;
}
.form .glyphicon{
	background: #fdaf17;
	padding: 5px;
	/*border-radius: 4px 0 0 4px;
	font-size: 20px;*/
	margin-right: 20px;
	top: 0;
}
.form h3 {
    color: #38367e;
    float: left;
    font-size: 17px;
    margin-top: 0;
    text-align: left;
    width: 100%;
}

.item-faq{
	border-radius: 12px;
	padding: 20px;
	border: 4px solid #ffffff;
	height: 160px;
}
.i-financiamento{
	background-image:  url("../img/icon-financeiro.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-financiamento:hover, .i-financiamento.ativo{
	background-color: #fdaf17;
	background-position:  center -186px;
	cursor: pointer;
}
.i-quitacao{
	background-image:  url("../img/icon-quitacao.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-quitacao:hover, .i-quitacao.ativo{
	background-color: #fdaf17;
	background-position:  center -186px;
	cursor: pointer;
}
.i-contratos{
	background-image:  url("../img/icon-contratos.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-contratos:hover, .i-contratos.ativo{
	background-color: #fdaf17;
	background-position:  center -186px;
	cursor: pointer;
}
.i-obras{
	background-image:  url("../img/icon-obras.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-obras:hover, .i-obras.ativo{
	background-color: #fdaf17;
	background-position:  center -186px;
	cursor: pointer;
}
.i-pagamentos{
	background-image:  url("../img/icon-pagamentos.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-pagamentos:hover, .i-pagamentos.ativo{
	background-color: #fdaf17;
	background-position: center -186px;
	cursor: pointer;
}

.i-assitenciatecnica{
	background-image:  url("../img/icon-assistencia.png");
	background-color: #ededed;
	background-position:  center 15px;
	background-repeat: no-repeat;
}
.i-assitenciatecnica:hover, .i-assitenciatecnica.ativo{
	background-color: #fdaf17;
	background-position:  center -186px;
	cursor: pointer;
}

.i-usuario {
    background-image: url("../img/icon-usuario.png");
    background-color: #ededed;
    background-position: center 15px;
    background-repeat: no-repeat;
}

    .i-usuario:hover, .i-usuario.ativo {
        background-color: #fdaf17;
        background-position: center -186px;
        cursor: pointer;
    }



.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ededed;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: 0;
}
.item-faq:hover .arrow-down, .item-faq.ativo .arrow-down  {
  bottom: -15px;
  border-top: 15px solid #fdaf17;
}

.campo-busca{
	background: #f7f7f7;
	border: 1px solid #cbcbcb;
	padding: 8px;
	height: 41px;
	float:left;
	width: 100%;
	border-radius: 0 4px 4px 0 ;
}
.btn-busca{
	background: #fdaf17;
	padding: 8px 14px;
	color: #FFF;
	border: 0;
	font-size: 18px;
	border-radius: 0 4px 4px 0 ;
	margin-left: -45px;
	float:left;
}
.divisor {
    border: 2px solid #e3e3e3;
    float: left;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 18px;
    width: 95%;
}
.padding-none{
	padding: 0;
}
.barra-busca{
	padding: 20px 0;
	float: left;
	width: 100%;
}
.panel-heading{
	border: none !important;
	background: none !important;
	padding-left: 0;
	padding-right: 0;
}
.panel-title{
	padding-left: 0;
	color: #515151;
	/*border-bottom: 1px solid #515151;*/
	padding-bottom: 2px;
}
.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	border: none !important;
	padding-left: 0;
	margin-bottom: 0;
}
.panel-body{
	padding-top: 0;
}
.panel-title i{
	float: right;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
    top: 0px;
    left: 0px;
}

/* ------ Guia  -------- */

.guia-do-cliente .bollet {
    border-color: #38367e;
}
.bollet {
    border: 7px solid #eaae31;
    height: 35px;
    width: 35px;
}

.guia-do-cliente h1{
	color: #515151;
}


.guia-do-cliente h6 {
    color: #eaae31;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.guia > h5,.guia > a > h5 {
    color: #959193;
    margin-top: 64px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.guia-do-cliente .slick-slide img {
    display: inline !important;
}

.guia-do-cliente .guia{
    text-align: center;
	 padding-bottom: 20px;
	 transition: all ease-in 0.2s;
	 padding-top: 2px;
	 z-index: 5;
}

.line-guia{
	height: 4px;
	position: absolute;
	left: 190px;
	background: #737e84;
	top: 75px;
	z-index: 0;
	
}

.menu-guia .guia:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	z-index: 10px;
	cursor: pointer;
	padding-top: 5px;
}
.bgnone{
	background: none !important;
	box-shadow: none;
}
.text-cronograma{
	color: #808080;
	font-size: 13px;
}
.text-cronograma b{
	color: #3a3880;
}
.progress-bar-warning{
	background: #eaae31
}
.cronograma h3{
	color: #38367e;
	font-size: 20px;
}
.cronograma h3 i{
	border: 2px solid #3a3880;
	border-radius: 50%;
	padding: 2px 7px;
}
.text-cronograma i{
	border: 1px solid #3a3880;
	border-radius: 50%;
	font-size: 9px;
	padding: 1px 3px;
	color: #38367e;
}
.margin-top-none{
	margin-top: 0 !important;
}
.fotos-cronograma .item{
    border: 4px solid #FFF !important;
	float: left !important;
	position: relative !important;
}
.fotos-cronograma {
	padding-bottom: 50px;
}
.fotos-cronograma  .slick-prev{
	background: url(../img/seta2.svg) no-repeat;
	transform: rotate(180deg);
	top: 85px;
}
.fotos-cronograma  .slick-next{
	background: url(../img/seta2.svg) no-repeat;
	top: 95px;
}
.fotos-cronograma .item span{
	background: rgba(211,184,45,0.7);
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -120%;
	position: absolute;
	float:left;
	text-align: center;
	color: #FFF;
	padding-top: 24%;
	font-size: 25px;
	transition: all ease-in 0.2s;
}
.fotos-cronograma .item:hover span{
	bottom: 0;
	cursor: pointer;

}
.padding-rightnone{
	padding-right: 0;
}

.menu-multiple .slick-prev {
    top: 7px;
}
.menu-multiple .slick-next {
    top: 15px;
}
.menu-multiple .item {
    background: #ececec;
	padding: 4px 4px;
	border-radius: 7px;
	border: 4px solid #FFF;
	text-align: center;
}
.menu-multiple .item.ativo, .menu-multiple .item.ativo a{
	background: #38367e;
	color: #FFF !important;
}
.fotos-cronograma{
	margin-top: 0;
}
.plantas{
	padding-bottom: 100px;
}

.fotos .slick-prev, .plantas .slick-prev {
    top: 50px;
}
.fotos .slick-next, .plantas .slick-next {
    top: 65px;
}
.ficha{
	margin-top: 180px;
}
.ficha h1 {
    color: #38367e;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.ficha h2 {
    color: #38367e;
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
    text-align: left;
	font-weight: bold;
    text-transform: uppercase;
	border: none;
}
.ficha li {
	margin: 0;
	padding: 0;
	color: #808080;
	font-size: 17px;
	list-style: none;
	margin-top: 5px;
}

tr {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 9px solid #fff;
    margin-bottom: 5px !important;
    color: #515151;
}
tr th{
	font-weight: normal !important;
}

th{
	border-top: 1px solid #ddd !important;
}
tr i{
	color: #38367e;
	font-size: 25px !important;
}
.btn-warning {
	background: #fdaf17;
	border-radius: 0;
	box-shadow: none;
	border: none;
}
thead tr, thead th{
	border: none !important;
	background: none;
}
.calendario{
	margin-top: 120px;
}
.titulo-calendario{
	background: #fdaf17;
	color: #FFF;
}
.btn-calendario span{
	text-align: left;
	background: #fdaf17;
	padding: 5px 15px 5px 5px;
	float: left;
	line-height: 26px;
}
.btn-calendario {
	background: #bdbebe;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.slick-prev::before {
    content: "" !important;
}
.slick-next::before {
    content: ""  !important;
}
.btn-calendario i{
	background: #fdaf17;
	padding: 5px 15px;
	float: left;
	
}
.btn-calendario i{
	background: #fdaf17;
	padding: 5px 15px;
	float: left;	
}
.btn-calendario b {
    color: #3b3f43;
    float: right;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px;
}

.calendario .slick-prev {
    top: 56px;
}
.calendario .slick-next {
    top: 56px;
}

.obs{
}
.alert {
    float: left;
    padding: 5px 10px;
    width: 100%;
}
.container {
    margin-bottom: 60px;
}
.col-sm-12 {
    float: left;
}
.uk-link, a {
	color: #38367e !important;
}



@media (min-width: 768px) {
.col-sm-15 {
        width: 100%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


@media (min-height: 900px) and (max-height: 1280px) {
.form-title {
    padding: 12px 0;
}
h2 {
    padding: 39px 0;
}
.btns-login {
    margin-bottom: 30px;
    margin-top: 20px;
}
.downloads {
    font-size: 19px;
    padding: 28px 0;
}
.input-group {
    height: 65px;
    margin-bottom: 30px;
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    padding: 10px 26px;
}
.form-control {
    height: 65px !important;
}
.btn-success {
    font-size: 18px !important;
    height: 65px;
    padding: 0 53px;
}
.btn-entrar {
    padding-top: 20px;
}
h3 {
    font-size: 26px;
}
.central-atendimento p {
    font-size: 17px;
}
.central-atendimento p strong {
    font-size: 21px;
}
}


@media (min-width: 1601px) and (max-width: 2000px) {
.menu-top li a{
	padding-left: 50px;
    padding-right: 50px;
}
}

@media (min-width: 1281px) and (max-width: 1600px) {
.menu-top li a{
	padding-left: 20px;
    padding-right: 20px;
}

}

@media (min-width: 981px) and (max-width: 1280px) {
.modal-pre span {
    font-size: 13px;
}
.modal-pre {
    margin-top: 10px;
}
.menu-top li a{
	padding-left: 20px;
    padding-right: 20px;
}
.multiple-items {
    margin-top: 20px !important;
}
.menu-guia .item .btn_menu {
    height: 143px;
    padding: 0 20px 20px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	width: 33%;
}
}

@media (min-width: 600px) and (max-width: 980px) {
.menu-top li a{
	padding-left: 10px;
    padding-right: 10px;
}
.multiple-items {
    margin-top: 20px !important;
}
.menu-guia .item .btn_menu {
    height: 143px;
    padding: 0 20px 20px;
}
.top-nav > li > a {
    background: #6c7379 none repeat scroll 0 0;
    color: #999;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 34px;
    padding-top: 34px;
}
.icon {
    margin-top: -5px;
}
.menu-guia .zoom1.item .btn_menu {
    height: 99px;
}
.line {
    margin-top: -108px;
}
.menu-guia .item .btn_menu {
    height: 99px;
}
.bollet {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #eaae31;
    height: 25px;
    left: 36%;
    width: 25px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	width: 50%;
}
}
.modileblock{
	display: none;
}

@media (min-width: 0px) and (max-width: 600px) {
.ficha h2 {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.ficha h1 {
    font-size: 16px;
}	
.dist-cronograma .imovel-status .col-xs-12 {
    width: 100%;
}	
	
body {
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.text-desc-img {
    bottom: 33px;
    float: right;
    position: relative;
}
.modilenone{
	display: none !important;
}
.modileblock{
	display: block;
}
.dist-cronograma .col-xs-12{
	width: 86%;
}
.imgguia{
	padding: 10px 10px;
}
footer {
    position: relative;
}
.btn-acao {
    font-size: 11px;
}
.fechar {
    right: -3px;
    top: -15px;
}
.navbar-brand {
    padding: 7px 25px;
}

.navbar-toggle {
    margin-top: 26px;
}
	
.cont-guia{
	padding: 30px 5px;
}
.cont-guia h3 {
    font-size: 22px;
	margin-bottom:0;
}


.list-dicionario p {
    border: 1px solid #cbcbcb;
    margin-top: -10px;
    padding-left: 14px !important;
}
h2.titulo-geral {
    font-size: 18px;
}
.btn-calendario i {
    padding: 5px 6px;
}
.titulo-calendario {
    font-size: 12px;
    padding: 0 !important;
    width: 100%;
}
.dist-cronograma{
	margin-top: 50px;
}
form {
    margin: 0 auto;
    width: 100%;
}
.camp{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.campleft {
    border-right: none;
}
.campright{
	padding-left: 0;
}

.modal-pre span {
    font-size: 9px;
}
.imgmo {
    float: left;
    margin-left: 0;
    padding: 5px;
    position: relative;
    width: 50%;
}
.modal-pre h1 {
    font-size: 21px;
}
.campleft {
    padding-right: 0;
}
	.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	width: 100%;
}
.multiple-items {
    margin-top: 20px !important;
}
.box-rodape {
    position: relative;
	padding: 30px 30px;
}
.dropup {
    width: 30%;
    float: left;
    margin-top: -14px;
}
.nav.navbar-left.top-nav.menu-top > li {
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav.navbar-left.top-nav.menu-top {
    margin: 0;
    padding: 0;
}
.top-nav > li > a {
    font-size: 12px;
    line-height: 19px;
    padding-bottom: 8px;
    padding-top: 8px;
	padding-left: 10px !important;
    padding-right: 10px !important;
	border-bottom: 1px solid #2e2c72;
}
.navbar-collapse, .top-nav{
	padding: 0;
}
.dropdown {
    width: 33.33%;
}
.dropdown a, #exit {
    padding: 8px 20px !important;
}
.sub{
	position: relative !important;
}
}

.separator {
  height: 1px;
  border-bottom: 1px solid #FFFFFF !important;
  border-top: 1px solid #E7E7E7 !important;
  color: #555555 !important;
  margin: 10px 0 30px;
}
.fotos-cronograma.multiple-items .item  a{
	height: 134px;
    float: left;
    position: relative;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
	transition: all ease-in 0.2s;
}
.fotos-cronograma.multiple-items .item  a:hover{
	transform: scale(1.1);
	
}
.menu-multiple.fotos-cronograma{
	padding-bottom: 10px;
}
input:focus {
  outline: none !important;
}
textarea:focus{
 outline:none !important;
}
input[type=text]{outline:none !important;}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
} 

*:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
} 
*{
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
} 

.form-modal{
    background-color: #fff;overflow-y: auto;
}

@media print {
	.no-print
    {
        display:none;
	}
    .form-modal {
        overflow-y:hidden;
    }
}