﻿<%@ WebHandler Language="C#" Class="FotosRemover" %>

using System;
using System.Web;

public class FotosRemover : IHttpHandler {

    public void ProcessRequest(HttpContext context)
    {
        context.Response.ContentType = "text/plain";

        int id = FrameWork.Util.GetInt(context.Request["id"]);
        string t = FrameWork.Util.GetString(context.Request["t"]);
        
        string strSql = "";
        
        //if (t=="n")
            strSql = "delete Fotos where FotoID=" + id + " ";
        
        
        FrameWork.DataObject.DataSource.DefaulDataSource.Execute(strSql);
        
        
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}