﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var chart;
        var data;
        google.load('visualization', '1', { 'packages': ['corechart'] });

        google.setOnLoadCallback(drawChart);
        function drawChart() {

            //###### Inicio - Browser ######
            data = new google.visualization.DataTable();
            data.addColumn('string', 'Browser');
            data.addColumn('number', 'Visits');
            //Adicionando os itens
            data.addRows([<%= sBrowser %>]);
            //Carregando
            chart = new google.visualization.PieChart(document.getElementById('chart_browser'));
            chart.draw(data, {width: 600, height: 240, title: 'Browser'});
            //###### Fim - Browser ######


            //###### Inicio - Visitas e visitante ######
            data = new google.visualization.DataTable();
            data.addColumn('string', 'Data');
            data.addColumn('number', 'Visitas');
            data.addColumn('number', 'Visitantes');
            //Adicionando os itens
            data.addRows([<%= sVisitas %>]);
            //Carregando
            chart = new google.visualization.LineChart(document.getElementById('chart_visitas'));
            chart.draw(data, {width: 600, height: 240, title: 'Visitas dos últimos 7 dias'});
            //###### Fim - Visitas e visitante ######


        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <!--Browser-->
        <div id="chart_browser"></div>

        <!--Visitas e visitantes-->
        <div id="chart_visitas"></div>
    </form>
</body>
</html>
