﻿.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 150px auto 0 auto;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

    .avatar-upload input {
        display: none;
    }

    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 39px;
        height: 39px;
        margin: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
    }

        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }

        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

    .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

.btnAlterarFoto {
    display: none;
}

#wrapper {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 600px;
}

#pwindicator {
    margin-top: 14px;
    width: 150px;
    float: right;
}

.bar {
    height: 2px;
}

.pw-very-weak .bar {
    background: #d00;
    width: 30px;
}

.pw-very-weak .label {
    color: #d00;
}

.pw-weak .bar {
    background: #d00;
    width: 60px;
}

.pw-weak .label {
    color: #d00;
}

.pw-mediocre .bar {
    background: #f3b31a;
    width: 90px;
}

.pw-mediocre .label {
    color: #f3b31a;
}

.pw-strong .bar {
    background: #6fdd00;
    width: 120px;
}

.pw-strong .label {
    color: #6fdd00;
}

.pw-very-strong .bar {
    background: #0d0;
    width: 150px;
}

.pw-very-strong .label {
    color: #0d0;
}

.fork img {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.download {
    float: right;
}
.form-row span.alert {
    position: relative;
    padding: .75rem 1.25rem;
    top: 35px;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 12px;
    font-weight:bold;
}