/ * !
 * Hambúrgueres
 * @description hambúrgueres saborosos de animação CSS
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 * /
.hamburger {
  preenchimento : 15 px  15 px ;
  display : bloco inline ;
  cursor : ponteiro ;
  propriedade de transição : opacidade, filtro;
  duração da transição : 0,15 s ;
  função de temporização de transição : linear ;
  fonte : herdar ;
  cor : herdar ;
  text-transform : nenhum ;
  cor de fundo : transparente ;
  fronteira : 0 ;
  margem : 0 ;
  estouro : visível ; }
  .hamburger : hover {
    opacidade : 0,7 ; }
  .hamburger.is-active : hover {
    opacidade : 0,7 ; }
  .hamburger.is-active  .hamburger-inner ,
  .hamburger.is-active  .hamburger-inner :: antes ,
  .hamburger.is-active  .hamburger-inner :: após {
    cor de fundo : # 000 ; }

.hamburger-box {
  largura : 40 px ;
  altura : 24 px ;
  display : bloco inline ;
  posição : relativa ; }

.hamburger-inner {
  display : bloco ;
  topo : 50 % ;
  margem superior : -2 px ; }
  .hamburger-inner , .hamburger-inner :: antes , .hamburger-inner :: after {
    largura : 40 px ;
    altura : 4 px ;
    cor de fundo : # 000 ;
    raio de fronteira : 4 px ;
    posição : absoluta ;
    propriedade de transição : transformar;
    duração da transição : 0,15 s ;
    função de temporização de transição : facilidade ; }
  .hamburger-inner :: antes , .hamburger-inner :: depois {
    conteúdo : " " ;
    display : bloco ; }
  .hamburger-inner :: before {
    topo : -10 px ; }
  .hamburger-inner :: após {
    fundo : -10 px ; }

/ *
   * 3DX
   * /
.hamburger - 3dx  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dx  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dx  .hamburger-inner :: antes , .hamburger -  3dx .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dx.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : girar ( 180 graus ); }
  .hamburger - 3dx.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dx.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * Reverso 3DX
   * /
.hamburger - 3dx-r  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dx-r  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dx-r  .hamburger-inner :: antes , .hamburger - 3dx-r  .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dx-r.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : rotateY ( -180 graus ); }
  .hamburger - 3dx-r.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dx-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * 3DY
   * /
.hamburger - 3dy  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dy  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dy  .hamburger-inner :: antes , .hamburger - 3dy  .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dy.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : rotateX ( -180 graus ); }

  .hamburger - 3dy.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dy.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * Reverso 3DY
   * /
.hamburger - 3dy-r  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dy-r  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dy-r  .hamburger-inner :: antes , .hamburger - 3dy-r  .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dy-r.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : rotateX ( 180 graus ); }
  .hamburger - 3dy-r.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dy-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * 3DXY
   * /
.hamburger - 3dxy  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dxy  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dxy  .hamburger-inner :: antes , .hamburger - 3dxy  .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dxy.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : rotateX ( 180 graus ) rotateY ( 180 graus ); }
  .hamburger - 3dxy.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dxy.is-active  .hamburger-inner :: após {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * Reverso 3DXY
   * /
.hamburger - 3dxy-r  .hamburger-box {
  perspectiva : 80 px ; }

.hamburger - 3dxy-r  .hamburger-inner {
  transiï¿½o : transformar 0,15 s de  cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ), cor de fundo 0 s  0,1 s  de filtraï¿½o cï¿½ico-bezier ( 0,645 , 0,045 , 0,355 , 1 ); }
  .hamburger - 3dxy-r  .hamburger-inner :: antes , .hamburger - 3dxy-r  .hamburger-inner :: depois {
    transição : transformar 0 s  0.1 s  cúbicas de Bezier ( 0,645 , 0,045 , 0,355 , 1 ); }

.hamburger - 3dxy-r.is-active  .hamburger-inner {
  background-color : transparente  ! importante ;
  transformar : rotateX ( 180 graus ) rotateY ( 180 graus ) rotateZ ( -180 graus ); }
  .hamburger - 3dxy-r.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - 3dxy-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus ); }

/ *
   * Seta
   * /
.hamburger - arrow.is-active  .hamburger-inner :: antes {
  transformar : translate3d ( -8 px , 0 , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 ); }

.hamburger - arrow.is-active  .hamburger-inner :: depois {
  transformar : translate3d ( -8 px , 0 , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 ); }

/ *
   * Seta para a direita
   * /
.hamburger - arrow-r.is-active  .hamburger-inner :: antes {
  transformar : translate3d ( 8 px , 0 , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 ); }

.hamburger - arrow-r.is-active  .hamburger-inner :: depois {
  transformar : translate3d ( 8 px , 0 , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 ); }

/ *
   * Seta Alt
   * /
.hamburger - arrowalt  .hamburger-inner :: antes {
  transição : superior  a 0,1 s  0,1 s  facilidade , transformar 0,1 s  cúbicas de Bezier ( 0,165 , 0,84 , 0,44 , 1 ); }

.hamburger - arrowalt  .hamburger-inner :: depois {
  transição : inferior  a 0,1 s  0,1 s  facilidade , transformar 0,1 s  cúbicas de Bezier ( 0,165 , 0,84 , 0,44 , 1 ); }

.hamburger - arrowalt.is-active  .hamburger-inner :: antes {
  top : 0 ;
  transformar : translate3d ( -8 px , -10 px , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 );
  transição : superior  a 0,1 s  facilidade , transformar 0,1 s  0,1 s  cúbicas de Bezier ( 0,895 , 0,03 , 0,685 , 0,22 ); }

.hamburger - arrowalt.is-active  .hamburger-inner :: depois {
  fundo : 0 ;
  transformar : translate3d ( -8 px , 10 px , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 );
  transição : inferior  a 0,1 s  facilidade , transformar 0,1 s  0,1 s  cúbicas de Bezier ( 0,895 , 0,03 , 0,685 , 0,22 ); }

/ *
   * Seta Alt Direita
   * /
.hamburger - arrowalt-r  .hamburger-inner :: antes {
  transição : superior  a 0,1 s  0,1 s  facilidade , transformar 0,1 s  cúbicas de Bezier ( 0,165 , 0,84 , 0,44 , 1 ); }

.hamburger - arrowalt-r  .hamburger-inner :: depois {
  transição : inferior  a 0,1 s  0,1 s  facilidade , transformar 0,1 s  cúbicas de Bezier ( 0,165 , 0,84 , 0,44 , 1 ); }

.hamburger - arrowalt-r.is-active  .hamburger-inner :: antes {
  top : 0 ;
  transformar : translate3d ( 8 px , -10 px , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 );
  transição : superior  a 0,1 s  facilidade , transformar 0,1 s  0,1 s  cúbicas de Bezier ( 0,895 , 0,03 , 0,685 , 0,22 ); }

.hamburger - arrowalt-r.is-active  .hamburger-inner :: depois {
  fundo : 0 ;
  transformar : translate3d ( 8 px , 10 px , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 );
  transição : inferior  a 0,1 s  facilidade , transformar 0,1 s  0,1 s  cúbicas de Bezier ( 0,895 , 0,03 , 0,685 , 0,22 ); }

/ *
   * Arrow Turn
   * /
.hamburger - arrowturn.is-active  .hamburger-inner {
  transformar : girar ( -180 graus ); }
  .hamburger - arrowturn.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( 8 px , 0 , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 ); }
  .hamburger - arrowturn.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 8 px , 0 , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 ); }

/ *
   * Arrow Vire à Direita
   * /
.hamburger - arrowturn-r.is-active  .hamburger-inner {
  transformar : girar ( -180 graus ); }
  .hamburger - arrowturn-r.is-active  .hamburger-inner :: antes {
    transformar : translate3d ( -8 px , 0 , 0 ) rode ( -45 ° C ) de escala ( 0,7 , 1 ); }
  .hamburger - arrowturn-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( -8 px , 0 , 0 ) rodar ( 45 ° C ) escala ( 0,7 , 1 ); }

/ *
   * Chato
   * /
.hamburger - chato  .hamburger-interior , .hamburger - chato  .hamburger-inner :: antes , .hamburger - chato  .hamburger-inner :: depois {
  propriedade de transição : nenhum ; }

.hamburger - boring.is-active  .hamburger-inner {
  transformar : rodar ( 45 graus ); }
  .hamburger - boring.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ; }
  .hamburger - boring.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : girar ( -90 graus ); }

/ *
   * Colapso
   * /
.hamburger - colapso  .hamburger-inner {
  top : auto ;
  fundo : 0 ;
  duração da transição : 0,13 s ;
  atraso de transição : 0,13 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - colapso  .hamburger-inner :: depois {
    topo : -20 px ;
    transiï¿½o : superior  0,2 s  0,2 s  cï¿½ico-bezier ( 0,33333 , 0,66667 , 0,66667 , 1 ), opacidade 0,1 s  linear ; }
  .hamburger - colapso  .hamburger-inner :: antes {
    transiï¿½o : topo  0,12 s  0,2 s  cúbico- bézier ( 0,33333 , 0,66667 , 0,66667 , 1 ), transformar 0,13 s  de suporte cúbico-bizier ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - collapse.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus );
  atraso de transição : 0,22 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - collapse.is-active  .hamburger-inner :: depois {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  a 0,2 s  cúbicas de Bezier ( 0,33333 , 0 , 0,66667 , 0,33333 ), opacidade 0,1 s  0,22 s  linear ; }
  .hamburger - collapse.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transformar : girar ( -90 graus );
    transição : 0,1 s superior  0,16 s bezier cúbico ( 0,33333 , 0 , 0,66667 , 0,333333 ), transformar 0,13 s 0,25 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }    

/ *
   * Colapso reverso
   * /
.hamburger - colapso-r  .hamburger-inner {
  top : auto ;
  fundo : 0 ;
  duração da transição : 0,13 s ;
  atraso de transição : 0,13 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - colapso-r  .hamburger-inner :: depois {
    topo : -20 px ;
    transiï¿½o : superior  0,2 s  0,2 s  cï¿½ico-bezier ( 0,33333 , 0,66667 , 0,66667 , 1 ), opacidade 0,1 s  linear ; }
  .hamburger - colapso-r  .hamburger-inner :: antes {
    transiï¿½o : topo  0,12 s  0,2 s  cúbico- bézier ( 0,33333 , 0,66667 , 0,66667 , 1 ), transformar 0,13 s  de suporte cúbico-bizier ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - colapso-r.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , -10 px , 0 ) girar ( 45 graus );
  atraso de transição : 0,22 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - colapso-r.is-active  .hamburger-inner :: depois {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  a 0,2 s  cúbicas de Bezier ( 0,33333 , 0 , 0,66667 , 0,33333 ), opacidade 0,1 s  0,22 s  linear ; }
  .hamburger - colapso-r.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transformar : rodar ( 90 graus );
    transição : 0,1 s superior  0,16 s bezier cúbico ( 0,33333 , 0 , 0,66667 , 0,333333 ), transformar 0,13 s 0,25 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }    

/ *
   * Elástico
   * /
.hamburger - elástico  .hamburger-inner {
  topo : 2 px ;
  duração da transição : 0,275 s ;
  função de tempo de transição : cúbico-bezier ( 0,68 , -0,55 , 0,265 , 1,55 ); }
  .hamburger - elástico  .hamburger-inner :: antes {
    topo : 10 px ;
    transição : opacidade 0,125 s  0,275 s  facilidade ; }
  .hamburger - elástico  .hamburger-inner :: depois {
    topo : 20 px ;
    transição : transformar 0,275 s  cúbicas de Bezier ( 0,68 , -0,55 , 0,265 , 1,55 ); }

.hamburger - elastic.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , 10 px , 0 ) girar ( 135 graus );
  atraso de transição : 0,075 s ; }
  .hamburger - elastic.is-active  .hamburger-inner :: antes {
    atraso de transição : 0 s ;
    opacidade : 0 ; }
  .hamburger - elastic.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -20 px , 0 ) girar ( -270 graus );
    atraso de transição : 0,075 s ; }

/ *
   * Elastic Reverse
   * /
.hamburger - elástico-r  .hamburger-inner {
  topo : 2 px ;
  duração da transição : 0,275 s ;
  função de tempo de transição : cúbico-bezier ( 0,68 , -0,55 , 0,265 , 1,55 ); }
  .hamburger - elástico-r  .hamburger-inner :: antes {
    topo : 10 px ;
    transição : opacidade 0,125 s  0,275 s  facilidade ; }
  .hamburger - elástico-r  .hamburger-inner :: depois {
    topo : 20 px ;
    transição : transformar 0,275 s  cúbicas de Bezier ( 0,68 , -0,55 , 0,265 , 1,55 ); }

.hamburger - elástico-r.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , 10 px , 0 ) girar ( -135 graus );
  atraso de transição : 0,075 s ; }
  .hamburger - elástico-r.is-active  .hamburger-inner :: antes {
    atraso de transição : 0 s ;
    opacidade : 0 ; }
  .hamburger - elástico-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -20 px , 0 ) girar ( 270 graus );
    atraso de transição : 0,075 s ; }

/ *
   * Enfático
   * /
.hamburger - enfático {
  estouro : oculto ; }
  .hamburger - enfático  .hamburger-inner {
    transição : cor de fundo 0.125 s  0.175 s  facilidade de entrada ; }
    .hamburger - enfático  .hamburger-inner :: antes {
      esquerda : 0 ;
      transição : transformar 0,125 s  cúbicas de Bezier ( 0,6 , 0,04 , 0,98 , 0,335 ), superior  a 0,05 s  0,125 s  linear , deixou  0,125 s  0,175 s  facilidade em ; }
    .hamburger - enfático  .hamburger-inner :: depois {
      topo : 10 px ;
      direita : 0 ;
      transição : transformar 0,125 s  cúbicas de Bezier ( 0,6 , 0,04 , 0,98 , 0,335 ), superior  a 0,05 s  0,125 s  linear , direita  0,125 s  0,175 s  facilidade em ; }
  .hamburger - emphatic.is-active  .hamburger-inner {
    atraso de transição : 0 s ;
    função de temporização de transição : facilidade ;
    background-color : transparente  ! importante ; }
    .hamburger - emphatic.is-active  .hamburger-inner :: antes {
      esquerda : -80 px ;
      topo : -80 px ;
      transformar : translate3d ( 80 px , 80 px , 0 ) girar ( 45 graus );
      transição : esquerda  0,125 s de  facilitação , topo  0,05 s  0,125 s  linear , transformação 0,125 s  0,175 s  cubo-bezier ( 0,075 , 0,82 , 0,165 , 1 ); }
    .hamburger - emphatic.is-active  .hamburger-inner :: depois {
      direita : -80 px ;
      topo : -80 px ;
      transformar : translate3d ( -80 px , 80 px , 0 ) girar ( -45 graus );
      transição : para a direita  0,125 s  facilidade para fora , superior  a 0,05 s  0,125 s  linear , transformar 0,125 s  0,175 s  cúbicas de Bezier ( 0,075 , 0,82 , 0,165 , 1 ); }

/ *
   * Reverso reverso
   * /
.hamburger - enfático-r {
  estouro : oculto ; }
  .hamburger - enfático-r  .hamburger-inner {
    transição : cor de fundo 0.125 s  0.175 s  facilidade de entrada ; }
    .hamburger - enfhatic-r  .hamburger-inner :: antes {
      esquerda : 0 ;
      transição : transformar 0,125 s  cúbicas de Bezier ( 0,6 , 0,04 , 0,98 , 0,335 ), superior  a 0,05 s  0,125 s  linear , deixou  0,125 s  0,175 s  facilidade em ; }
    .hamburger - enfático-r  .hamburger-inner :: depois {
      topo : 10 px ;
      direita : 0 ;
      transição : transformar 0,125 s  cúbicas de Bezier ( 0,6 , 0,04 , 0,98 , 0,335 ), superior  a 0,05 s  0,125 s  linear , direita  0,125 s  0,175 s  facilidade em ; }
  .hamburger - enfático-r.is-active  .hamburger-inner {
    atraso de transição : 0 s ;
    função de temporização de transição : facilidade ;
    background-color : transparente  ! importante ; }
    .hamburger - emphatic-r.is-active  .hamburger-inner :: antes {
      esquerda : -80 px ;
      topo : 80 px ;
      transformar : translate3d ( 80 px , -80 px , 0 ) girar ( -45 graus );
      transição : esquerda  0,125 s de  facilitação , topo  0,05 s  0,125 s  linear , transformação 0,125 s  0,175 s  cubo-bezier ( 0,075 , 0,82 , 0,165 , 1 ); }
    .hamburger - enfático-r.is-active  .hamburger-inner :: depois {
      direita : -80 px ;
      topo : 80 px ;
      transformar : translate3d ( -80 px , -80 px , 0 ) rodar ( 45 graus );
      transição : para a direita  0,125 s  facilidade para fora , superior  a 0,05 s  0,125 s  linear , transformar 0,125 s  0,175 s  cúbicas de Bezier ( 0,075 , 0,82 , 0,165 , 1 ); }

/ *
   * Menos
   * /
.hamburger - minus  .hamburger-inner :: antes , .hamburger - minus  .hamburger-inner :: depois {
  transição : inferior  0.08 s  0 s  facilidade-out , superior  0.08 s  0 s  facilidade , opacidade 0 s  linear ; }

.hamburger - minus.is-active  .hamburger-inner :: antes , .hamburger - minus.is-active  .hamburger-inner :: depois {
  opacidade : 0 ;
  transição : inferior  0,08 s de  facilidade , superior  0,08 s de  facilidade , opacidade 0 s  0,08 s  linear ; }

.hamburger - minus.is-active  .hamburger-inner :: antes {
  top : 0 ; }

.hamburger - minus.is-active  .hamburger-inner :: depois {
  fundo : 0 ; }

/ *
   * Slider
   * /
.hamburger - slider  .hamburger-inner {
  topo : 2 px ; }
  .hamburger - slider  .hamburger-inner :: antes {
    topo : 10 px ;
    propriedade de transição : transformar, opacidade;
    função de temporização de transição : facilidade ;
    duração da transição : 0,15 s ; }
  .hamburger - slider  .hamburger-inner :: depois {
    topo : 20 px ; }

.hamburger - slider.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - slider.is-active  .hamburger-inner :: antes {
    transformar : girar ( -45 graus ) translate3d ( -5.71429 px , -6 px , 0 );
    opacidade : 0 ; }
  .hamburger - slider.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -20 px , 0 ) girar ( -90 graus ); }

/ *
   * Slider Reverso
   * /
.hamburger - slider-r  .hamburger-inner {
  topo : 2 px ; }
  .hamburger - slider-r  .hamburger-inner :: antes {
    topo : 10 px ;
    propriedade de transição : transformar, opacidade;
    função de temporização de transição : facilidade ;
    duração da transição : 0,15 s ; }
  .hamburger - slider-r  .hamburger-inner :: depois {
    topo : 20 px ; }

.hamburger - slider-r.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , 10 px , 0 ) girar ( -45 graus ); }
  .hamburger - slider-r.is-active  .hamburger-inner :: antes {
    transformar : girar ( 45 graus ) translate3d ( 5.71429 px , -6 px , 0 );
    opacidade : 0 ; }
  .hamburger - slider-r.is-active  .hamburger-inner :: depois {
    transformar : translate3d ( 0 , -20 px , 0 ) girar ( 90 graus ); }

/ *
   * Spin
   * /
.hamburger - spin  .hamburger-inner {
  duração da transição : 0,22 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - spin  .hamburger-inner :: antes {
    transição : superior  0,1 s  0,25 s  facilidade de entrada , opacidade 0,1 s  facilidade de entrada ; }
  .hamburger - spin  .hamburger-inner :: depois {
    transição : 0,1 s inferior  0,25 s de entrada , 0,22 s de transformação de 0,23 s ( 0,55 , 0,055 , 0,675 , 0,19 ); }   

.hamburger - spin.is-active  .hamburger-inner {
  transformar : rodar ( 225 graus );
  atraso de transição : 0,12 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - spin.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  0,1 s de  facilidade , opacidade 0,1 s  0,12 s de  facilidade ; }
  .hamburger - spin.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : girar ( -90 graus );
    transição : fundo  0,1 s de  deslocamento , 0,22 s  0,12 s  bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }

/ *
   * Rotação reversa
   * /
.hamburger - spin-r  .hamburger-inner {
  duração da transição : 0,22 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - spin-r  .hamburger-inner :: antes {
    transição : superior  0,1 s  0,25 s  facilidade de entrada , opacidade 0,1 s  facilidade de entrada ; }
  .hamburger - spin-r  .hamburger-inner :: depois {
    transição : 0,1 s inferior  0,25 s de entrada , 0,22 s de transformação de 0,23 s ( 0,55 , 0,055 , 0,675 , 0,19 ); }   

.hamburger - spin-r.is-active  .hamburger-inner {
  transformar : girar ( -225 graus );
  atraso de transição : 0,12 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - spin-r.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  0,1 s de  facilidade , opacidade 0,1 s  0,12 s de  facilidade ; }
  .hamburger - spin-r.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : rodar ( 90 graus );
    transição : fundo  0,1 s de  deslocamento , 0,22 s  0,12 s  bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }

/ *
   * Primavera
   * /
.hamburger - primavera  .hamburger-inner {
  topo : 2 px ;
  transição : cor de fundo 0 s  0,13 s  linear ; }
  .hamburger - spring  .hamburger-inner :: antes {
    topo : 10 px ;
    transiï¿½o : em cima,  0,1 s  0,2 s  , em mï¿½gonico -cúbico ( 0,33333 , 0,66667 , 0,66667 , 1 ), transformam-se em bisel cúbico de 0,13 s  ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - spring  .hamburger-inner :: depois {
    topo : 20 px ;
    transiï¿½o : topo  0,2 s  0,2 s  de filtraï¿½o cï¿½ico-bezier ( 0,33333 , 0,66667 , 0,66667 , 1 ), transformaï¿½o de 0,13 s  de filtraï¿½o cï¿½ico-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - spring.is-active  .hamburger-inner {
  atraso de transição : 0,22 s ;
  background-color : transparente  ! importante ; }
  .hamburger - spring.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transição : 0,1 s superior  0,15 s bezier cúbico ( 0,33333 , 0 , 0,66667 , 0,33333 ), transformar 0,13 s 0,22 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 );    
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( 45 graus ); }
  .hamburger - spring.is-active  .hamburger-inner :: depois {
    top : 0 ;
    transição : superior  a 0,2 s  cúbicas de Bezier ( 0,33333 , 0 , 0,66667 , 0,33333 ), transformar 0,13 s  0,22 s  cúbicas de Bezier ( 0,215 , 0,61 , 0,355 , 1 );
    transformar : translate3d ( 0 , 10 px , 0 ) girar ( -45 graus ); }

/ *
   * Reverso da mola
   * /
.hamburger - spring-r  .hamburger-inner {
  top : auto ;
  fundo : 0 ;
  duração da transição : 0,13 s ;
  atraso de transição : 0 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - spring-r  .hamburger-inner :: depois {
    topo : -20 px ;
    transição : superior  a 0,2 s  0,2 s  cúbicas de Bezier ( 0,33333 , 0,66667 , 0,66667 , 1 ), opacidade 0 s  linear ; }
  .hamburger - spring-r  .hamburger-inner :: antes {
    transiï¿½o : em cima,  0,1 s  0,2 s  , em mï¿½gonico -cúbico ( 0,33333 , 0,66667 , 0,66667 , 1 ), transformam-se em bisel cúbico de 0,13 s  ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - spring-r.is-active  .hamburger-inner {
  transformar : translate3d ( 0 , -10 px , 0 ) girar ( -45 graus );
  atraso de transição : 0,22 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - spring-r.is-active  .hamburger-inner :: depois {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  a 0,2 s  cúbicas de Bezier ( 0,33333 , 0 , 0,66667 , 0,33333 ), opacidade 0 s  0,22 s  linear ; }
  .hamburger - spring-r.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transformar : rodar ( 90 graus );
    transição : 0,1 s superior  0,15 s bezier cúbico ( 0,33333 , 0 , 0,66667 , 0,33333 ), transformar 0,13 s 0,22 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }    

/ *
   * Ficar de pé
   * /
.hamburger - stand  .hamburger-inner {
  transiï¿½o : transformar 0,075 s  0,15 s de  cï¿½ico-bizeleiro ( 0,55 , 0,055 , 0,675 , 0,19 ), cor de fundo 0 s  0,075 s  linear ; }
  .hamburger - stand  .hamburger-inner :: antes {
    transição : superior  0,075 s  0,075 s de entrada  fácil , transforma 0,075 s  0 s  de diâmetro cúbico-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - stand  .hamburger-inner :: depois {
    de transição : inferior  0,075 s  0,075 s  facilidade em , transformar 0,075 s  0 s  cúbicas de Bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - stand.is-active  .hamburger-inner {
  transformar : rodar ( 90 graus );
  background-color : transparente  ! importante ;
  transição : transformar 0,075 s  0 s  em bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ), cor de fundo 0 s  0,15 s  linear ; }
  .hamburger - stand.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transformar : girar ( -45 graus );
    transição : superior  0,075 s  0,1 s de  facilidade de saída , transformação de 0,075 s  0,15 s  bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - stand.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : rodar ( 45 graus );
    transição : 0,075 s inferior  0,1 s de facilidade , 0,075 s 0,15 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }    

/ *
   * Stand reverso
   * /
.hamburger - stand-r  .hamburger-inner {
  transiï¿½o : transformar 0,075 s  0,15 s de  cï¿½ico-bizeleiro ( 0,55 , 0,055 , 0,675 , 0,19 ), cor de fundo 0 s  0,075 s  linear ; }
  .hamburger - stand-r  .hamburger-inner :: antes {
    transição : superior  0,075 s  0,075 s de entrada  fácil , transforma 0,075 s  0 s  de diâmetro cúbico-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - stand-r  .hamburger-inner :: depois {
    de transição : inferior  0,075 s  0,075 s  facilidade em , transformar 0,075 s  0 s  cúbicas de Bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }

.hamburger - stand-r.is-active  .hamburger-inner {
  transformar : girar ( -90 graus );
  background-color : transparente  ! importante ;
  transição : transformar 0,075 s  0 s  em bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ), cor de fundo 0 s  0,15 s  linear ; }
  .hamburger - stand-r.is-active  .hamburger-inner :: antes {
    top : 0 ;
    transformar : girar ( -45 graus );
    transição : superior  0,075 s  0,1 s de  facilidade de saída , transformação de 0,075 s  0,15 s  bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - stand-r.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : rodar ( 45 graus );
    transição : 0,075 s inferior  0,1 s de facilidade , 0,075 s 0,15 s bezerro cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }    

/ *
   * Squeeze
   * /
.hamburger - squeeze  .hamburger-inner {
  duração da transição : 0,075 s ;
  função de temporização de transição : cubic-bezier ( 0,55 , 0,055 , 0,675 , 0,19 ); }
  .hamburger - squeeze  .hamburger-inner :: antes {
    transição : superior  0,075 s  0,12 s de  facilidade , opacidade 0,075 s de  facilidade ; }
  .hamburger - squeeze  .hamburger-inner :: depois {
    transição : 0,075 s inferior  0,12 s facilidade , transformar 0,075 s bezier cúbico ( 0,55 , 0,055 , 0,675 , 0,19 ); }   

.hamburger - squeeze.is-active  .hamburger-inner {
  transformar : rodar ( 45 graus );
  atraso de transição : 0,12 s ;
  função de temporização de transição : bezier cúbico ( 0,215 , 0,61 , 0,355 , 1 ); }
  .hamburger - squeeze.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ;
    transição : superior  0,075 s de  facilidade , opacidade 0,075 s  0,12 s de  facilidade ; }
  .hamburger - squeeze.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : girar ( -90 graus );
    transição : inferior  a 0,075 s  facilidade , transformar 0,075 s  0,12 s  cúbicas de Bezier ( 0,215 , 0,61 , 0,355 , 1 ); }

/ *
   * Vortex
   * /
.hamburger - vortex  .hamburger-inner {
  duração da transição : 0,2 s ;
  função de tempo de transição : bezier cúbico ( 0,19 , 1 , 0,22 , 1 ); }
  .hamburger - vortex  .hamburger-inner :: antes , .hamburger - vortex  .hamburger-inner :: depois {
    duração da transição : 0 s ;
    atraso de transição : 0,1 s ;
    função de temporização de transição : linear ; }
  .hamburger - vortex  .hamburger-inner :: antes {
    propriedade de transição : top , opacidade; }
  .hamburger - vortex  .hamburger-inner :: depois {
    propriedade de transição : bottom , transform; }

.hamburger - vortex.is-active  .hamburger-inner {
  transformar : rodar ( 765 graus );
  função de tempo de transição : bezier cúbico ( 0,19 , 1 , 0,22 , 1 ); }
  .hamburger - vortex.is-active  .hamburger-inner :: antes , .hamburger - vortex.is-active  .hamburger-inner :: depois {
    atraso de transição : 0 s ; }
  .hamburger - vortex.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ; }
  .hamburger - vortex.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : rodar ( 90 graus ); }

/ *
   * Vortex reverso
   * /
.hamburger - vortex-r  .hamburger-inner {
  duração da transição : 0,2 s ;
  função de tempo de transição : bezier cúbico ( 0,19 , 1 , 0,22 , 1 ); }
  .hamburger - vortex-r  .hamburger-inner :: antes , .hamburger - vortex-r  .hamburger-inner :: depois {
    duração da transição : 0 s ;
    atraso de transição : 0,1 s ;
    função de temporização de transição : linear ; }
  .hamburger - vortex-r  .hamburger-inner :: antes {
    propriedade de transição : top , opacidade; }
  .hamburger - vortex-r  .hamburger-inner :: depois {
    propriedade de transição : bottom , transform; }

.hamburger - vortex-r.is-active  .hamburger-inner {
  transformar : girar ( -765 graus );
  função de tempo de transição : bezier cúbico ( 0,19 , 1 , 0,22 , 1 ); }
  .hamburger - vortex-r.is-active  .hamburger-inner :: antes , .hamburger - vortex-r.is-active  .hamburger-inner :: depois {
    atraso de transição : 0 s ; }
  .hamburger - vortex-r.is-active  .hamburger-inner :: antes {
    top : 0 ;
    opacidade : 0 ; }
  .hamburger - vortex-r.is-active  .hamburger-inner :: depois {
    fundo : 0 ;
    transformar : girar ( -90 graus ); }