﻿@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body{
	background: #eeeeee;
}
.bg{
	background: url(../img/bg.jpg) no-repeat top right / cover;
	height: 100%;
	position: fixed;
	right: 0;
}
*{font-family: 'Source Sans Pro', sans-serif;}
.login {
    background: #fff;
    height: 100%;
    padding: 100px 13%;
    position: relative;
    width: 50%;
    float: left;
}
.login h2{
	font-size: 35px;
	font-weight: 700;
	color: #2c2b2b;
	margin-top: 20px;
}
.login h3{
	font-size: 17px;
	color: #e30613;
	font-weight: 700;
	line-height: 14px;
}
.login h4{
	font-size: 16px;
	color: #2c2b2b;
	font-weight: 700;
	line-height: 14px;
}
.login p {
    color: #797979;
    font-size: 16px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.pelicula{
	background: #000;
	position:  absolute;
	width:  100%;
	height:  100%;
	left:  0;
	top:  0;
	opacity:  0.5;
}
#btnLogin, .btn-btnRecuperaSenha {
    background: #e30713 url(../img/seta.png) 160px 13px no-repeat;
    border: none;
    border-radius: 0;
    width: 200px !important;
    padding: 10px;
    padding-right: 20px;
    transition: all ease-out 0.2s;
}
#btnLogin:hover, .btn-btnRecuperaSenha:hover{
	background: #b80913 url(../img/seta.png) 170px 13px no-repeat;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.opcoes{
	height: 50px;
	position:relative;
}
.opcoes a.ativo{
	background: #e30613;
	color: #FFF !important;
}
.alert {
    position: relative;
    padding: 7px 15px 5px 15px !important;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    width: 100%;
    float: left;
    font-size: 13px;
}
.alert-success {
    color: #000;
    background-color: #bbcea4;
    border-color: #bbcea4;
}
.alert-danger {
    color: #fff;
    background-color: #BFBFBF;
    border-color: #BFBFBF;
}
.small {
    font-size: 13px;
}
.small a {
    font-size: 13px;
	color:  none !important;
}
.opcoes a{
	background: #efefef;
	padding: 10px 20px;
	color: #4e4e4e !important;
	border-radius: 50px;
	margin-right: 10px;
	font-size: 13px;
	cursor: pointer;
}
.opcoes a:hover{
	background: #b80913;
	color: #FFF !important;
	cursor: pointer;
}
.icheckbox_minimal-red, .iradio_minimal-red {
    top: -2px;
}
.opcoes a:hover::before {
  border-top: 6px solid #b80913  !important;
}
.opcoes a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0;
  top: 31px;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #efefef;
}
.opcoes a.ativo:before {
  border-top: 6px solid #e30613  !important;
}
.opcoes a.ativo:hover::before {
  border-top: 6px solid #b80913  !important;
}
.form-group input{
	width: 100%;
	border: 1px solid #CDCDCD;
	height: 50px;
	padding: 5px 12px;
}
.checkbox{
	padding: 5px 0;
}
.checkbox a, .checkbox{
	color: #4e4e4e;
	font-size: 13px;
}
.cpf{
	background: url(../img/user.png) no-repeat 10px 12px;
	padding-left: 40px !important;
}
.senha{
	background: url(../img/pass.png) no-repeat 10px 12px;
	padding-left: 40px !important;
}
.divisao {
    width: 80px;
    height: 4px;
    background: #d0d0d0;
    margin: 32px 0 26px 0;
}
.recuperar, .info{
	display: none;
}
.corpo{
	background: url(../img/bg-inicio.jpg) no-repeat center / cover;
	width: 100%;
	height: 100%;
	position: absolute;
}
.item-hotel{
	border-radius: 10px;
	z-index: 1;
	margin: 15px;
	overflow: hidden;
	padding-bottom: 30px;
	background: #FFF;
	transition: all ease-in  0.2s;
}
.item-hotel:hover{
	transform: scale(1.1);
}
.item-hotel .descricao{
	padding: 30px;
	text-align: center;
}
.item-hotel .foto{
	overflow: hidden;
}
.item-hotel .foto img{
	transition: all ease-in  0.2s;
}
.item-hotel h3 {
    font-size: 20px;
    color: #2c2b2b;
    font-weight: 600;
    height: 44px;
}
.item-hotel h4 {
    color: #9b9b9b;
    font-size: 13px;
    background: url(../img/icon-hotel.png) no-repeat;
    padding-left: 20px;
    display: table;
    margin: auto;
	height: 30px;
}
.btn-geral2 i {
    background: url(../img/seta.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: 20px;
	transition: all ease-in  0.2s;
}
.slick-list {
    padding: 20px 0 !important;
}
.btn-geral2{
	background: #c9c8cb;
	font-size: 13px;
	padding: 9px 50px 7px 35px;
	color: #FFF !important;
	text-transform: uppercase;
	transition: all ease-in  0.2s;
	width: auto;
	position:relative;
	border: 0;
	margin-top: 10px;
}
.barra-titulo{
	margin-bottom:  53px;
}
.btn-geral2.pequeno{
	padding: 14px 25px 14px 25px;
	font-weight: 600;
}
.item-hotel:hover .btn-geral2, .btn-geral2:hover{
	background: #e30613;
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
}

.item-hotel:hover .btn-geral2 i, .btn-geral2:hover i{
	 right: 10px;
}
 

.item-hotel .foto:hover img{
	transform: scale(1.1) ;
}
.slick-prev{
	background: url(../img/setas.png) no-repeat;
	border: none;
	content: "";
	width: 65px;
	height: 48px;
	font-size: 0;
    line-height: 0;
	position: absolute;
	top: 160px;
	left: -70px;
}
.slick-next{
	background: url(../img/setas.png) no-repeat 0 -52px;
	border: none;
	content: "";
	width: 65px;
	height: 48px;
	font-size: 0;
    line-height: 0;
	position: absolute;
	top: 160px;
	right: -70px;
}
.titulo .divisao{
	background: #ec2027;
	margin: 20px auto;
}
.logo-internas {
    padding: 20px 20px 20px 10px;
    margin-left: 0;
}
.foto-user{
	background: url(../img/foto-user.png) no-repeat center / cover;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	float: right;
	margin: 20px 15px 20px 0;
	border: 4px solid #FFF;
	box-shadow: 0px 0px 0px 4px rgba(216,216,216,0.30);
	position: relative;
	transition: ease-in all 0.2s;
}
.foto-user:hover{
	cursor: pointer;
	
}
.foto-user span{
	position: absolute;
	right: -30px;
	top: 15px;
	color: #626468;
}
.listar-notificacoes{
	width: 300px;
    height: auto;
    background: #FFF;
    position: absolute;
    right: 0;
    top: 70px;
	z-index: 10;
	display: none;
}
.listar-notificacoes div{
	padding: 0;
}
.listar-notificacoes .row {
    padding: 5px 4px;
	border-bottom: 1px solid #ececec;
	padding: 20px 30px;
	margin: 0;
}
.listar-notificacoes .row:hover {
    background: #fbf0f0;
	cursor: pointer;
	transition: ease-in all 0.2s;
}
.listar-notificacoes .row:hover i {
    background: #c22e27;
}
.date{
	color: #c22e27;
	font-size: 13px;
	font-weight: bold;
}
.box-dashboard  .label_filtro{
	padding: 0 !important;
	color:  #000 !important;
	margin:  0 !important;
}
.filtros_busca{
	background:  #FFF;
	padding:  20px !important;
}
.filtros_busca .form-control, .filtros_busca label, .filtros_busca  .btn-filtro, .filtros_busca  input{
	width:  auto !important;
	float:  left !important;
	margin:  0;
}
.filtros_busca  input{
	margin:  10px 0 0 4px;
}
.filtros_busca label{
	margin:  5px 5px 0 5px;
}
.btn-filtro{
	margin-top: -5px  !important;
}
.panel-body{
	padding:  20px;
}
.panel {
    padding: 20px;
    overflow: hidden;
}
h3.panel-title {
    font-size: 20px;
}
.panel-body {
    overflow-y: auto;
    padding: 0;
    overflow-x: hidden;
    height: auto;
}
.panel .table td, .panel .table th {
    font-size: 13px !important;
}
.filtros_busca  .form-control {
    border: 1px solid #d6d6d6;
    border-radius: 0;
    background: none;
    font-size: 14px;
    padding: 4px;
    margin: -5px !important;
    padding-right: 10px;
    padding-left: 10px;
    height: 45px;
    margin-right: 10px !important;
    width: auto !important;
    margin-left: 5px !important;
    min-width: 50px !important;
}
.filtros p {
    width: auto;
    display: inline;
    color: #666;
    margin-right: 5px;
    font-size: 13px;
}
.listar-notificacoes i{
	background: #dddddd;
	transition: ease-in all 0.2s;
	width: 22px;
	height: 22px;
	border-radius: 50px;
	color: #FFF;
	padding: 6px;
	position: relative;
	float:left;
	font-size: 12px;
}
.listar-notificacoes h5 {
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 600;
    text-align: left;
    line-height: 10px;
    padding: 5px 5px;
    float: left;
    margin: 0;
}
.listar-notificacoes p {
    font-size: 12px;
    color: #545454;
    float: left;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    margin-left: 27px;
    line-height: 13px;
}
.listar-notificacoes:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  top: -12px;
  right: -20px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFF;
  transform: rotate(-225deg);
}
.notificacoes{
	background: #dddddd;
	width: 35px;
	height: 35px;
	border-radius: 100px;
	float: right;
	color: #FFF;
	margin: 30px 15px;
	text-align: center;
	padding: 6px;
	position: relative;
}
.notificacoes:hover{
	cursor: pointer;
}
.notificacoes span{
	background: #e30613;
	width: 18px;
	height: 18px;
	border-radius: 100px;
	float: right;
	color: #FFF;
	text-align: center;
	font-size: 11px;
	line-height: 17px;
	top: -7px;
	right: -3px;
	position: absolute;
}
.atalhos {
    width: 350px;
    height: auto;
    padding: 35px 45px;
    background: #FFF;
    position: absolute;
    right: -25px;
    top: 70px;
    display: none;
    z-index: 10;
    border: 1px solid #f4f4f4;
}
.atalhos:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  top: -12px;
  right: -20px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFF;
  transform: rotate(-225deg);
}
.atalhos h5 {
	color: #e30613;
	font-size: 14px;
}
.atalhos h4{
	color: #2c2c2c;
	font-size: 25px;
}
.atalhos h3{
	color: #c0c0c0;
	font-size: 13px;
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 10px;
}
.atalhos p{
	color: #515151;
	font-size: 14px;
	font-weight: 600;
}
.atalhos a {
    background: #fff;
    padding: 8px 16px 8px 30px;
    font-size: 13px;
    color: #969696 !important;
    border-radius: 80px;
    width: 48%;
    position: relative;
    float: left;
    margin: 1%;
    text-align: center;
	border: 1px solid #969696;
	transition: ease-in all 0.2s;
}
.atalhos a:hover {
    background: #efefef;
}
.atalhos a.ativo {
    background: #e30613;
	color: #FFF !important;
	border: 1px solid #e30613;
}
.atalhos a.ativo:hover {
    background: #b80913;
}
.atalhos a i {
    background: url(../img/icon-atalhos.png) no-repeat -20px -20px;
	width: 18px;
	height: 18px;
	margin: 5px;
	position: absolute;
	left: 5px;
	top: 3px;
}
.atalhos a.ativo i {
    background: url(../img/icon-atalhos.png) no-repeat;
}
.atalhos .fechar{
	background: none;
	padding: none; 
	font-size: 13px;
	color: #666 !important;
	border-radius: 0;
	text-align: right;
	width: auto;
	float: right;
	border: none;
	padding: 0;
	text-decoration: underline !important;
}
.atalhos .fechar:hover{
	background: none;
	opacity: 0.8;
}
.atalhos .fechar i{
	position: relative;
	background: none;
	left: 0;
	top: 0;
	width: 0;
}

/* ------------ Invertidor ----------------*/
.menu-investidor{
	background: #fff;
	width: 280px;
	position: fixed;
	height:100%;
	transition: all ease-in 0.2s;
	y-index:  2;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.menu-investidor.fechado{
	width: 80px;
}
.menu-investidor.fechado .logo-jll {
    padding-top: 14px;
}
.menu-investidor.fechado .logo-jll img {
    width: 63px;
    margin-top: 21px;
}
.menu-investidor .logo-jll{
	background: #626468;
	height: 100px;
	text-align:center;
	padding-top: 18px;
	transition: all ease-in 0.2s;
	
}
.menu-investidor .foto-hotel{
	height: 250px;
	border-radius: 0 0 15px 15px;
	position: relative;
}
.investidor.fechado{
	padding-left: 80px;
}
.top-investidor {
    background: #fff;
    height: 100px;
    width: 100%;
    position: relative;
	z-index: 2;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.top-investidor .hoteis{
	padding: 0 50px 0 0;
}
.top-investidor .row{
	margin: 0;
}
.padding0 {
	padding: 0;
}
.investidor{
	width: 100%;
	padding-left: 280px;
	transition: all ease-in 0.2s;
}
.logo-hotel {
    width: 70%;
    position: absolute;
    bottom: -34px;
    padding: 10px 10px 10px 10px;
    background: #FFF;
    border-radius: 11px;
    height: auto;
    z-index: 1;
    margin-left: 15%;
    text-align: center;
    box-shadow: 0px 0px 5px 3px rgba(216,216,216,0.30);
}
.menu-investidor h3 {
    color: #FFF;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    padding: 0 12px;
}
.menu-investidor h5 {
    color: #FFF;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
	padding-top: 130px;
}
.menu-investidor-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 30px 0;
    transition: all ease-out 0.2s;
    position: relative;
    float: left;
    background: #FFF;
    margin-top: 60px;
}
.menu-investidor-lista a {
    padding: 0 10px 0 71px;
    text-transform: uppercase;
    line-height: 19px;
    transition: ease-in all 0.2s;
}
.menu-investidor-lista i {
    width: 20px;
    height: 21px;
    position: relative;
    float: left;
    margin-left: 36px;
    margin-right: 5px;
    margin-top: 2px;
}
.menu-investidor-lista li {
    position: relative;
    float: left;
	width:  100%;
}
.menu-investidor-lista a .icon-hoteis {
    background: url(../img/icons-menu.png) no-repeat -2px -4px;
}
.menu-investidor-lista a:hover + .divisor {
	background: #FFF;
}
.menu-investidor-lista a:hover .icon-hoteis, .menu-investidor-lista .ativo .icon-hoteis {
    background: url(../img/icons-menu.png) no-repeat -28px -4px;
}
.menu-investidor-lista a .icon-meus-dados{
	background: url(../img/icons-menu.png) no-repeat -2px -30px;
}
.menu-investidor-lista a:hover .icon-meus-dados, .menu-investidor-lista .ativo .icon-meus-dados, .sub:hover .icon-meus-dados{
	background: url(../img/icons-menu.png) no-repeat -28px -30px;
}
.menu-investidor-lista a .icon-documentos{
	background: url(../img/icons-menu.png) no-repeat -2px -55px;
}
.menu-investidor-lista a:hover .icon-documentos, .menu-investidor-lista .ativo .icon-documentos{
	background: url(../img/icons-menu.png) no-repeat -28px -55px;
}
.menu-investidor-lista a .icon-desempenho{
	background: url(../img/icons-menu.png) no-repeat -2px -82px;
}
.menu-investidor-lista a:hover .icon-desempenho, .menu-investidor-lista .ativo .icon-desempenho, .sub:hover .icon-desempenho {
	background: url(../img/icons-menu.png) no-repeat -28px -82px;
}
.menu-investidor-lista a .icon-glossario{
	background: url(../img/icons-menu.png) no-repeat -2px -107px;
}
.menu-investidor-lista a:hover .icon-glossario, .menu-investidor-lista .ativo .icon-glossario{
	background: url(../img/icons-menu.png) no-repeat -28px -107px;
}
.menu-investidor-lista a .icon-noticias{
	background: url(../img/icons-menu.png) no-repeat -2px -129px;
}
.menu-investidor-lista a:hover .icon-noticias, .menu-investidor-lista .ativo .icon-noticias{
	background: url(../img/icons-menu.png) no-repeat -28px  -129px;
}
.menu-investidor-lista a .icon-ir{
	background: url(../img/icons-menu.png) no-repeat -2px -177px;
}
.menu-investidor-lista a:hover .icon-ir, .menu-investidor-lista .ativo .icon-ir{
	background: url(../img/icons-menu.png) no-repeat -28px  -177px;
}
.menu-investidor-lista a .icon-chamadas{
	background: url(../img/icons-menu.png) no-repeat -2px -154px;
}
.menu-investidor-lista a:hover .icon-chamadas, .menu-investidor-lista .ativo .icon-chamadas{
	background: url(../img/icons-menu.png) no-repeat -28px -154px;
}
.menu-investidor-lista .principal {
    color: #969696 !important;
    font-size: 15px;
    transition: ease-in all 0.2s;
    width: 100%;
    position: relative;
    float: left;
}
.menu-investidor-lista .principal:hover, .menu-investidor-lista .ativo, .sub:hover a.principal{
	color: #e30613 !important;
	text-decoration: none;
}
.sub ul a:hover{
	opacity: 0.8;
}

.menu-investidor-lista a {
    font-size: 12px;
    color: #969696;
	width: 100%;
}
.menu-investidor-lista .principal {
    padding: 14px 0 14px 9px;
}
.menu-investidor-lista .divisor {
    background: #e6e6e6;
    width: 160px;
    height: 1px;
    margin-left: 10%;
	margin-right: 10%;
    margin-top: 0;
	float:left;
	position:relative;
	width: 80%;
}
.menu-investidor-lista a.principal:hover, .menu-investidor-lista .principal.ativo:hover, .sub:hover a.principal{
    background: #fbf0f0;
}
.selecione-hoteis {
    padding: 38px 0px 38px 20px;
    color: #969696;
    font-size: 14px;
}
.selecione-hoteis i{
	padding: 2px;
	color: #e30613;
}
.selecione-hoteis b{
	color: #282828;
}
.menu-investidor-lista a.principal.ativo{
	background: none;
}
.fechado  .menu-investidor-lista i {
    margin-left: 7px;
}
.fechado .menu-investidor-lista span {
	opacity: 0;
}
.fechado .menu-investidor-lista a:hover span, .fechado .sub:hover a span {
	opacity: 1;
	color: #e30613 !important;
}
.fechado .menu-investidor-lista {
    padding: 0;
    width: 79px;
    z-index: 2;
}
.fechado .divisor{
    display: none;
}
.fechado .menu-investidor-lista a.principal {
    padding: 14px 25px 14px 24px;
    display: inline-flex;
    width: max-content;
}
.fechado .menu-investidor-lista a.principal {
    display: block;
}
.menu-investidor.fechado {
    z-index: 10;
}
.fechado .logo-jll img{
	width: 65px;
}
.fechado  .logo-jll {
    padding-top: 37px;
}
.fechado .foto-hotel h5, .fechado .foto-hotel h3{
	display: none;
}
.fechado .logo-hotel img{
	width: 100%;
}
.fechado .logo-hotel {
    width: 90%;
    bottom: 5px;
    padding: 5px;
    height: auto;
    margin-left: 5%;
}
.fechado .sub .submenu{
	display: none;
}
.fechado .sub:hover .submenu{
	display: block;
}
.fechado .sub:hover .submenu span{
	opacity: 1;
}
.fechado .sub:hover .submenu {
    display: block;
    background: #FFF;
    position: relative;
    float: left;
    list-style: none;
	padding:  20px;
	 width: 170px;
}
.sub .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 4px 0;
    float: left;
}
.fechado .menu-investidor-lista .submenu a {
    padding: 0 10px 0 14px;
    width: 147px;
    background: #FFF;
    position: relative;
    float: left;
    padding-left: 12px;
}
.box-dashboard {
    background: #FFF;
    padding: 78px 20px 79px 20px;
    margin-bottom: 40px;
	overflow:  hidden;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.dashboard {
    padding: 10px 80px 0 80px;
    width: 100%;
}
.dashboard-int{
	padding: 10px 80px 80px 80px;
	width: 100%;
}
.filtros, .titulo {
    padding: 50px 15px 15px 15px;
}
.filtros{
	text-align: right;
}

.filtros.left{
	text-align: left;
	padding: 0;
}
.bs-tooltip-top {
    left: 73px !important;
}
.titulo h2{
	font-weight: 700;
	color: #3e3e3e;
	font-size: 25px;
}
.titulo h2{
	font-weight: 700;
	color: #3e3e3e;
	font-size: 25px;
}
.btn-geral{
	padding: 8px 20px;
	border: 1px solid #959595;
	color: #959595 !important;
	border-radius: 20px;
	font-size: 14px;
	transition: all ease-in 0.2s;
}
.btn-geral:hover, .btn-geral.ativo{
	background: #fff;
	text-decoration: none;
	border: 1px solid #cdcdcd;
	cursor: pointer;
}
.btn-geral4{
	padding: 8px 20px;
	border: 1px solid #959595;
	color: #959595 !important;
	border-radius: 20px;
	font-size: 14px;
	transition: all ease-in 0.2s;
}
.btn-geral4:hover, .btn-geral4.ativo{
	background: #e30613;
	text-decoration: none;
	border: 1px solid #e30613;
	cursor: pointer;
	color: #FFF !important;
	
}
.rendimento h3{
	font-weight: 600;
	font-size: 18px;
	margin-top: 12px;
}
.rendimento h2{
	font-weight: 700;
	font-size: 30px;
	margin: 0;
}
.rendimento h4{
	font-weight: 600;
	font-size: 18px;
	color: #9a9a9a;
	margin-bottom: 20px;
}
.noticia-destaque span{
	background: #5b5d61 url(../img/icon-noticias.png) no-repeat 13px 13px;
	color: #FFF;
	padding: 10px 20px 10px 35px;
	position: absolute;
	font-weight: 600;
	top: 0;
	font-size: 13px;
	left: 0;
	z-index:  0;
}
.noticia-destaque {
    padding: 0;
    margin: 0;
    height: 367px;
    padding: 40px;
}
.noticia-destaque h2{
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	margin: 110px 0 0 0;
	z-index:  0;
	position: relative;
}
.noticia-destaque h3{
	font-size: 25px;
	color: #FFF;
	font-weight: 600;
	margin-bottom: 20px;
	z-index:  0;
	position: relative;
}
.btn-geral3{
	background: #e30613;
	font-size: 12px;
	padding: 14px 25px 14px 25px;
	color: #FFF !important;
	text-transform: uppercase;
	transition: all ease-in  0.2s;
	width: auto;
	position:relative;
}
.btn-geral3:hover{
	background: #b80913;
	cursor: pointer;
}
.item-hotel:hover .btn-geral2, .btn-geral2:hover{
	background: #5b5d61;
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
}
.noticias-dashboard{
	padding: 0;
}
.margin0{
	margin: 0;
}
.acoes-noticia{
	position: absolute;
	bottom: 25px;
	right: 30px;
	width: 100px;
	height: 40px;
}
.compartilhar{
	width: 18px;
    position: relative;
    height: 18px;
    float: right;
	background: url(../img/icon-noticias-acoes.png) no-repeat;
	margin: 8px;
}
.favoritar {
    width: 18px;
    position: relative;
    height: 18px;
    float: right;
    background: url(../img/icon-noticias-acoes.png) no-repeat -27px 0px;
    margin: 8px;
}
.pequeno .favoritar {
    width: 14px;
    height: 14px;
    background: url(../img/icon-noticias-acoes.png) no-repeat -1px -19px;
}
.pequeno .compartilhar {
    width: 14px;
    height: 14px;
    background: url(../img/icon-noticias-acoes.png) no-repeat -21px -19px;
}
.pequeno.acoes-noticia {
    position: absolute;
    bottom: 24px;
    right: 37px;
    width: auto;
    height: 30px;
}
.list-noticia {
    padding: 35px 33px;
    position: relative;
    height: 150px;
    float: left;
}
.list-ir span {
    position: absolute;
    font-size: 12px;
    margin: -13px 0 0 0;
    left: 40px;
    top: 19px;
}
.list-noticia h2{
	font-size: 18px;
	font-weight: 600;
	color: #3e3e3e;
	margin: 10px 0 10px 0;
}
.list-noticia h3 b{
	color: #b1b2b4;
	font-weight: 600;
}
.list-noticia h3{
	font-size: 13px;
	font-weight: 600;
	color: #3e3e3e;
	margin: 0 0 0 0;
}
.list-noticia a{
	font-size: 14px;
	font-weight: 600;
	color: #e30613 !important;
}
.list-noticia i{
	margin: 3px 5px;
}
.divisorline {
    border-bottom: 1px solid #efeef3;
    width: 100%;
    bottom: 0;
    height: 1px;
    background: #efeef3;
    margin-top: -33px;
    margin-bottom: 18px;
}
.aberto  .graficos{
	height: 70px;
}
.graficos {
    padding: 18px 10px;
    height: 367px;
    transition: all ease-in 0.2s;
}
.graficos .col-md-12{

	margin:  0;
	padding:  0;
}
    .graficos .titulo {
        padding: 5px 32px 10px 45px;
        border-bottom: 1px solid #c8c8c8;
        font-weight: 600;
        line-height: 13px;
        height: 40px;
        font-size: 18px;
    }

.graficos .titulo i {
    color: #b2b3b5;
    border: 1px solid #CDCDCD;
    border-radius: 50px;
    padding: 4px 5px;
    font-size: 10px;
    position: absolute;
    right: 36px;
    width: 21px;
    height: 21px;
    top: 21px;
}
.graficos .titulo img{
	margin-right: 7px;
    position: absolute;
    left: 37px;
    top: 18px;
}
.graficos .titulo.border0{
	border-bottom: none;
}
.titulo-form icon-user{
	border-bottom: 2px solid #c8c8c8;
}
.titulo-form {
    border-bottom: 2px solid #c8c8c8;
    color: #3e3e3e;
    width: 100%;
    font-size: 25px;
    height: auto;
	width: 100%;
	float:  left;
}
.img-exibicao{
	padding:  20px 0;
}
.titulo-form-obs {
	float:  left; font-size:  15px; padding:  8px 10px 15px 10px; font-weight: normal;
}
.titulo-form i {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    top: 2px;
    left: 0;
    float: left;
}
.link-form span {
    border-bottom: 5px solid #e30613;
    margin-bottom: 0;
    float: left;
    font-weight: normal !important;
    position: relative;
    font-size: 18px !important;
}
.icon-user {
    background: url(../img/icons.png) no-repeat -2px -3px;
}
.icon-senha{
    background: url(../img/icons.png) no-repeat -2px -33px;
}
.dashboard-box{
	padding: 0 50px 0 50px;
}
.list-menu-chamados .titulo-form span {
    border-bottom: none;
    margin-right: 25px;
}

.list-menu-chamados .titulo-form span:hover, .list-menu-chamados .titulo-form span.ativo {
	border-bottom: 5px solid #e30613;
	cursor: pointer;
	font-weight: 600 !important;
}

.list-menu-chamados .titulo-form {
    height: 33px;
}
.titulo-form span {
	border-bottom: 5px solid #f39c12;
	margin-bottom: -2px;
	float: left;
	font-weight: 600;
	position: relative;
	font-size: 24px;
}
form {
    width: 100%;
    float: left;
}
label{
	color: #9c9c9c;
	font-weight: 400;
	font-size: 13px;
	margin: 10px;
	margin-top: 25px;
	padding: 0;	
}
.form-control {
    border: 1px solid #d6d6d6;
    border-radius: 0;
    background: none;
    font-size: 14px;
    padding: 15px;
    height: 50px;
    background: #fcfcfc;
}
.btn-padrao{
	background: #e30613;
	padding: 12px 30px;
	color: #FFF;
	border-radius: 0;
	float: right !important;
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	border: 0;
}
.btn-padrao:hover{
	background: #e30613;
	color: #FFF;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}
.resposta span {
    position: relative !important;
    padding: 5px !important;
    margin: 0 !important;
}
label.labelchamado {
    padding: 0;
    margin: 0;
}
.form-row .resposta p {
    font-size: 12px;
    margin-top: 10px;
    margin: 0;
}
.form-row .resposta {
    position: relative;
    font-size: 13px;
    left: 0;
    top: 0;
    padding: 5px 5px;
    line-height: 30px;
    background: #e9e9e9;
    border: 2px dotted #cdcdcd;
    width: 100%;
    margin-bottom: 13px;
    float: left;
}
.dados-bancarios h4{
	font-weight: 700;
}
.dados-bancarios li{
	list-style: none;
	color: #979797;
	border-bottom: 1px solid #cdcdcd;
	padding: 5px 0;
}
.dados-bancarios .box-dashboard{
	padding: 50px;
}
.dados-bancarios .box-dashboard .btn-geral{
	padding-left: 30px;
	padding-right: 30px;
}
.dados-bancarios .box-dashboard img{
	margin-bottom: 20px;
}
.filtro {
    padding: 20px 0 20px 20px;
    height: auto;
}
.filtro .btn-geral4{
	margin-right: 15px;
}
.conta .titulo-form{
	margin-bottom: 20px;
	
}
.conta{padding-left: 50px;}
.conta form{
	float: none;
}
#pwindicator .bar{
	height:  5px !important;

}
#pwindicator {
    margin-top: 0;
}
.help-block {
    float: left;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 5px;
}
#pwindicator {
    margin-top: 14px;
    width: 150px  !important;
    width: 150px  !important;
    float: right !important;
}
.conta .form-control{
	border: none;
	border-bottom: 1px solid #CDCDCD;
}
.conta label{
	color: rgba(30,30,30,1.00);
	font-weight: 600;
}
.space{
	width: 100%;
	height: 80px;
}
#contasalva label{
	width: 100%;
}
.card-header, .card:hover{
	cursor:  pointer !important;

}
.form-row {
    width: 100%;
}
.form-row span{
	position: absolute;
	font-size: 11px;
	left: 0;
	top: -5px;
	padding: 0 10px;
}
.bg-menu{
	display:  none;
}
.grid-contas-titulo{
	width:  100%;
}
.form-row li {
    position: relative;
    padding: 8px 10px;
    margin-bottom: 0;
    border: none;
}
.form-row ul{
	margin: 0;
	padding: 0;
	background: #CDCDCD;
}
.listconta .row{
	width: 100%;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
}
.listconta .row:hover{
	background: #f9f9f9;
	border-bottom: 1px solid #c9c8cb;
	cursor: pointer;
}
.editarcontas{
	padding: 0;
	padding: 9px 0 0 0;
}
.editarcontas i{
	color: #c9c8cb;
	margin-left: 7px;
}
.banner-hotel {
    width: 100%;
    height: 430px;
    background: url(../img/hotel.jpg) no-repeat center / cover;
    position: relative;
}
.banner-hotel .detalhes {
    width: 100%;
    height: 100px;
    margin-top: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.60);
    position: absolute;
    float: left;
    bottom: 0;
}
.banner-hotel .detalhes span{
	width: 110%;
	height: 120px;
	/*background: url(../img/hotel.jpg) no-repeat center bottom;*/
	position: absolute;
	left: -5%;
	bottom: -10px;
	opacity: 0.5;
	-webkit-filter: blur(2px);
	  -moz-filter: blur(2px);
	  -o-filter: blur(2px);
	  -ms-filter: blur(2px);
	  filter: blur(2px);
}
.descricao-hotel{
	padding: 20px 120px;
	position:relative;
}
.descricao-hotel-logo i{
	background: #e30613 url(../img/seta-hotel.png) no-repeat center;
	position: absolute;
	right: -40px;
	bottom: -40px;
	width: 80px;
	height: 80px;
	z-index: 99;
}
.descricao-hotel-logo div {
    position: relative;
    float: left;
}
.descricao-hotel-logo h4 {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
}
.descricao-hotel-logo a {
    float: left;
    position: relative;
    height: 36px;
    width: 105px;
}
.descricao-hotel h2{
	color: #FFF;
	font-size: 13px;
	opacity: 1;
	margin: 0;
	padding-top: 4px;
}
.descricao-hotel h3{
	color: #FFF;
	font-size: 30px;
	opacity: 1;
	font-weight: 600;
}
.descricao-hotel-logo {
    /*position: absolute;
    background: #FFF;
    padding: 35px 40px;
    right: 10%;
    width: 35%;
    height: auto;
    bottom: -50px;
    z-index: 3;*/
}
.descricao-hotel-logo {
    position: relative;
    background: #FFF;
    padding: 35px 40px;
    width: 700px;
    height: auto;
    float: right;
    margin: 215px 80px 50px 50px;
}

.descricao-hotel-logo p {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    padding-left: 0;
    float: left;
    position: relative;
}
.descricao-hotel-logo img {
    float: left;
    margin-right: 0;
    margin-bottom: 0;
}
.galeria-foto{
	height: 400px;
	position:relative;
}
.galeria-foto:hover{
	cursor: pointer;
}
.galeria-foto.medio{
	height: 190px;
	margin-bottom: 20px;
}
.galeria-foto span{
	background: #e30613 url(../img/zoom.png) 25px 8px no-repeat;
	padding: 8px 30px 8px 55px;
	position:absolute;
	float:lleft;
	top: 0;
	left: 0;
	color: #FFF;
	opacity: 0;
	transition: all ease-in 0.2s;
}
.galeria-foto:hover span{
	opacity: 1;
}
.table-responsive-sm th{
	background: #e41d25;
	color: #FFF;
	border-left: 1px solid #FFF;
	padding: 20px 15px;
	text-align: center;
}
.table-responsive-sm tr:nth-child(even) {background-color: #b1b2b4;}
.table-responsive-sm tr {background-color: #fff;}
.table-responsive-sm td {border-left: 1px solid #f0f1f5; padding:  20px 15px; text-align: center;}

.box-glossario{
    background: #FFF;
    padding: 90px;
    margin-bottom: 40px;
	box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.10);
}
.menu li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}
.menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #b7b7b7;
	width: 80%;
}
.menu li a {
    color: #3e3e3e;
    font-size: 18px;
    padding: 17px 0;
    float: left;
    width: 100%;
	border-bottom: 1px solid #b7b7b7;
}
.menu li:hover a {
    color: #e62430 !important;
	cursor: pointer;
}
.menu li i {
	float: right;
	color: #3e3e3e;
}
.menu li:hover i {
    color: #e62430 !important;
}
.number {
    color: #fbfbfb;
    font-size: 170px;
    position: absolute;
    float: left;
    top: -160px;
    left: -30px;
    font-weight: 700;
    z-index: -10;
}
.textarea{
	height: 250px !important;
	border: 1px solid #CDCDCD !important;
}
.box-chamado p{
	font-size: 12px;
	margin-top: 10px;
}
.box-chamado p a{
	text-decoration: underline !important;
}

/* --- IR  --- */

.img-ir {
    height: 555px;
    background: url("../img/img-ir.jpg") no-repeat center;
    margin-left: 15px;
}
.img-documentos {
    height: 500px;
    background: url("../img/img-documentos.png") no-repeat center;
    margin-left: 15px;
}

.list-ir {
    background: #FFF;
    padding: 64px 106px;
}

.list-ir p{
    width:  70%;
	float:  left;
}

.list-ir h6 {
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 20px;
}
.list-ir li {
    background: #FFF url(../img/icon-download.png) no-repeat 12px 12px;
    list-style: none;
    padding: 20px 18px 4px 40px;
    margin-bottom: 9px;
    border-bottom: 1px solid #CDCDCD;
    float: left;
    position: relative;
    width: 100%;
}

.list-ir li:hover, .list-ir li.ativo {
	box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.1);
	list-style: none;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.list-ir ul {
	margin: 0;
	padding: 0;
}

.list-ir li a {
	background: #e30713;
	color: #FFF !important;
	padding: 5px;
	float: right;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 20px;
}

.coluna-box {
    padding: 25px 20px;
}

.box-chamado-list {
    padding: 0 50px 0 50px !important;
    font-size: 12px;
    margin-top: 20px;
}

    .box-chamado-list p {
        padding: 0 !important;
        margin-bottom: 0;
    }

.numero-chamado {
    background: #ffffff;
    color: #525252;
    font-size: 12px;
    padding: 23px 10px 10px 10px;
}

.box-chamado-list strong {
    font-size: 22px;
}

.numero-id-chamado {
    font-size: 35px;
    color: #929290;
}

.list-divisao {
    border-bottom: 1px solid #CDCDCD;
    height: 2px;
    margin: 20px 0;
}

/* --- / IR  --- */

.img-noticia {
    width: 100%;
    height: 200px;
}

.descricao-noticia h3 {
    font-size: 15px;
    color: #787878;
    margin: 0;
    padding: 0;
}

.descricao-noticia h2 {
    font-size: 20px;
    color: #000;
    margin: 2px 0;
    padding: 0;
}

.descricao-noticia p {
    font-size: 17px;
    color: #787878;
    margin: 0;
    padding: 0;
}

.descricao-noticia {
    padding: 30px 80px;
    background: #FFF;
}

.btn-notocias {
    background: #e30713;
    padding: 15px 20px;
    color: #FFF;
    position: absolute;
    right: 55px;
    bottom: -25px;
}

    .btn-notocias i {
        color: #FFF;
    }

.box-noticia-grade {
    padding-right: 80px;
    margin-top: 30px;
}

.divisao-noticia {
    border-bottom: 1px solid #CDCDCD;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.box-noticia-pequeno .img-noticia {
    width: 35%;
    height: 120px;
    position: relative;
    float: left;
}

.box-noticia-pequeno h2 {
    font-size: 20px;
    font-weight: normal;
}

.box-noticia-pequeno .descricao-noticia {
    width: 65%;
    height: 150px;
    position: relative;
    float: left;
    background: none;
    padding: 0 10px;
}

.box-noticia-pequeno .btn-notocias {
    color: #e30713 !important;
    padding: 0;
    font-size: 12px;
    background: none;
    position: relative;
    left: 0;
    bottom: 0;
}
#busca{
	border-radius:  50px;
	border: 1px solid #CDCDCD;
	height:  30px;
	width:  200px;
	display: inline;
	margin-right:  10px;
	float: left;
	margin-top:  -5px;
	display:  none;
}
.menu-sub-hoteis{
	position: absolute;
	background:  #FFF;
	padding:  20px;
	border: 1px solid #CDCDCD;
	border-radius:  4px;
	left:  50px;
	top:  25px;
	display:  none;
	width:  180px;
	z-index:  999;
}
.menu-sub-hoteis a{
	color:  #666;
	width:  100%;
	float:  left;
	border-bottom:  1px solid #eaeaea;
	padding:  2px 0;
	
}
.menu-sub-hoteis a:hover{
	color:  #e30613 ;
}
.selecione-hotel {
    display: initial;
    position: relative;
    float: left;
}
.btn-menu-principal, .btn-menu-principal i{
	float: left;
}
.btn-menu-principal, .btn-menu-principal i{
	margin:  3px 6px;
}
.btn-menu-principal-mobile{
	display:  none;
}

.menu-investidor-lista {
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 12px;
}
.bar{
	width:  100%;
	height:  auto;
}
.mobileshow{
	display:  none;
}
.donut-legend {
    font-size: 10px;
	padding-top: 50px;
    width: 120%;
}
.panel .donut-legend {
	padding-top: 10px;
}
.form-row span.alert {
    padding: 5px 10px  !important;
    top: 0 !important;
    margin: 5px 0;
    width: 100%;
    float: left;
    height: 33px;
}
.alert-warning {
    color: #fff;
    background-color: #626468;
    border-color: #ffeeba;
}
.accordian {
	width: 100% ; 
	height: 600px;
	overflow: hidden;
	/*Time for some styling*/
	margin: 0 auto;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 18.5%;
	float: left;
	border-left: 1px solid #888;
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 10%;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 45%;}


.accordian li a{
	height: 600px;
    width: 100%;
    position: relative;
    float: left;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
}
.accordian li a:hover{
	-webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray; /* IE */
}
.accordian ul {
    margin: 0;
    padding: 0;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
.filt a {
    padding: 10px 12px 23px 12px;
    font-weight: 400;
    line-height: 15px;
    display: inline-block;
    color: #5b5d61 !important;
    height: 38px;
    font-size: 14px;
    background: #fff;
    transition: all ease-in 0.2s;
    border: 1px solid #b2b3b5;
    border-radius: 5px 5px 0 0;
}
.filt a.ativo, .filt a:hover {
	color:  #fff !important;
	cursor:  pointer;
	background: #e30613 ;
	border:  1px solid #e30613;
}
.filt a:nth-child(1){
}
.filt {
    width: 100%;
    margin-left: -20px;
    margin-top: 8px;
}
.grafico-despesas {
    display: none;
}

.filt a.btn-despesas i {
	height:  40px; 
	width:  40px;
	background:url("../img/icon-despesa-hover.png") no-repeat center  !important;
	float:  left;
	margin:  -12px 0 0 -12px;
	position: relative;
    border: none;
    left: 0;
    top: 0;
}

.filt a.btn-despesas:hover i, .filt a.btn-despesas.ativo i {
	background:url("../img/icon-despesa.png") no-repeat center  !important;
}


.filt a.btn-performance i {
    height: 40px;
    width: 40px;
    background: url(../img/icon-performace-hover.png) no-repeat center !important;
    float: left;
    margin: -12px 0 0 -12px;
    position: relative;
    border: none;
    left: 0;
    top: 0;
}

.filt a.btn-performance:hover i, .filt a.btn-performance.ativo i {
	background:url("../img/icon-performace.png") no-repeat center  !important;
}



/* ------------ Tutorial ------------ */
.bg-tutorial{
	background: rgba(0,0,0,0.60);
	position:  fixed;
	width:  100%;
	height:  100%;
	left:  0;
	top:  0;
	z-index:  3;
	display:  none;
}
.intro-tutorial{
	background:  #FFF;
	width:  800px;
	height:  500px;
	border-radius:  10px;
	position:  absolute;
	z-index:  5;
	left:  50%;
	top:  50%;
	margin-left:  -400px;
	margin-top:  -250px;
	padding-top:  60px;
	text-align:  center;
	display:  none;
}
.intro-tutorial h2{
	color: #ff020b;
	font-size:  25px;
	position:  relative;
}
.intro-tutorial p{
	color: #666;
	font-size:  18px;
	position:  relative;
}
.intro-tutorial .btn-tutorial{
	color: #7e7e7e !important;
	font-size:  18px;
	background: #e1e1e1;
	padding:  8px 30px;
	border-radius:  5px;
	position:  relative;
	
}
.intro-tutorial .btn-tutorial:hover{
	color: #7e7e7e !important;
	background: #cacaca;
	cursor:  pointer;
	
}
.intro-tutorial .btn-tutorial.vermelho{
	color: #fff !important;
	font-size:  18px;
	background: #ff020b;
	position:  relative;
}
.intro-tutorial .btn-tutorial.vermelho:hover{
	color: #fff !important;
	background: #e9040c;
	cursor:  pointer;
}
.icon-tutorial{
	padding:  20px 50px 5px 50px;
}
.fechar-tutorial {
    color: #fff !important;
    position: absolute;
    line-height: 23px;
    right: 5px;
    top: 9px;
    font-size: 23px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background: #e4e4e4;
    text-align: center;
}
.fechar-tutorial:hover {
    cursor:  pointer;
	background:  #cccccc;
}
.intro1 {
    position: absolute;
    float: left;
    top: 50%;
    left: 297px;
    margin-top: -50px;
    height: 100px;
    width: 330px;
	display:  none;
}
.intro2 {
    position: absolute;
    float: left;
    top: 100px;
    right: 0;
    height: 100px;
    width: 200px;
	display:  none;
}
.intro3 {
    position: absolute;
    float: left;
    top: 69px;
    right: 0;
    height: 100px;
    width: 100%;
    z-index: 3;
    display: none;
    text-align: center;
}
.intro4 {
    position: absolute;
    float: left;
    top: 104px;
    right: 0;
    height: 100px;
    width: 477px;
    z-index: 3;
    display: none;
    text-align: center;
}
.intro1 i{
    float: left;
    margin-top: 8px;
    margin-right: 13px;
}
.intro2 i {
    float: left;
    margin-top: 8px;
    margin-right: 13px;
	width:  100%;
	text-align:  center;
}
.intro1 p{
    font-size: 18px;
    color: #FFF;
    float: left;
    width: 249px;
    line-height: 23px;
}
.intro2 p {
    font-size: 18px;
    color: #FFF;
    width: 100%;
    line-height: 23px;
	text-align:  center;
	margin:  auto;
}
.intro3 p {
    font-size: 18px;
    color: #FFF;
    width: 350px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.intro4 p {
    font-size: 18px;
    color: #FFF;
    width: 350px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.intro1 p b, .intro2 p b, .intro3 p b, .intro4 p b {
    color: #ff020b;
}
.indice {
	position: fixed;
	bottom:  100px;
	width:  200px;
	height:  auto;
	left:  50%;
	margin-left:  -100px;
	z-index:  4;
	text-align:  center;
	display:  none;
}
.indice .btn-tutorial-simples {
    color: #fff !important;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    border: 1px solid #FFF;
    font-size: 15px;
    padding: 5px 20px;
    position: relative;
    margin: auto;
    margin-left: 37px;
    margin-bottom: 5px;
}
.indice .btn-tutorial-simples:hover {
    cursor:  pointer;
	background: #FFF;
	color:  #666 !important;
}
.indice  b{
	color:  #fff !important;
	width:  100%;
	position:  relative;
	float:  left;
	text-align:  center;
}
.indice  a{
	color:  #fff !important;
	width:  100%;
	position:  relative;
	float:  left;
	text-align:  center;
	text-decoration: underline !important;are you working today
	
}
.accordian .icon-relatorio{
	background: #818181;
	width:  80px;
	height:  80px;
	position:  absolute;
	left:  0;
	top:  0;
}
.accordian:hover .icon-relatorio{
	background: #e30613;
}
.accordian h2{
	color:  #FFF;
	font-size:  26px;
	position:  absolute;
	bottom:  36px;
	left:  20px;
	font-weight:  bold;
}
.accordian h5{
	color:  #FFF;
	font-size:  14px;
	position:  absolute;
	bottom:  20px;
	left:  20px;
}
.accordian i {
    height: 57px;
    width: 57px;
    position: relative;
    margin: 10px;
    float: left;
}
.table
{
font-family: 'Arial Narrow Bold', sans-serif;
}
.table thead tr{
background-color: #e30613;
padding:5px;
font-size:14px;
font-weight:700;            
}
.table thead tr th {
color:white;
}
.table .extra {
    background-color: red;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-bottom: 10px solid #eeeeee;
    border-top: 10px solid #eeeeee;
}
.table .subtotal.red {
background-color:#d2d2d2 !important;
}
.table .subtotal.black {
background-color:#000000 !important;
}
.table .subtotal.gray {
background-color:#b2afb0 !important;
}
.table td, .table th {
     border-top: none;
}






.table .subtotal:after,.table .subtotal:hover{
background-color:#d2d2d2 !important;
}

.table .extra {
background-color:red !important;
padding:5px;
font-size:14px;
font-weight:700;
color:white;
}
.table .extra:after,.table .extra:hover{
background-color:red !important;
}
.table .subtotal td,.table .extra td {
color:white;
}
.linha-numero .valor
{
text-align:right;
}
.linha-moeda .valor, .subtotal .valor, .extra .valor
{
text-align:right;
}


.barra-titulo.admin {
display: block;
width: 100%;
background-color: yellow;
padding: 5px;
font-size: 14px;
font-weight: 700;
text-align: center;
margin-bottom: 20px;
}

.table {
font-family: 'Arial Narrow Bold', sans-serif;
}

.table thead tr {
background-color: red;
padding: 5px;
font-size: 14px;
font-weight: 700;
}

.table thead tr th {
color: white !important;
}

.table .subtotal {
background-color: #808080;
padding: 5px;
font-size: 14px;
font-weight: 700;
color: white;
}

.table .subtotal:after, .table .subtotal:hover {
background-color: #808080 !important;
}
.table .extra {
background-color: red;
padding: 5px;
font-size: 14px;
font-weight: 700;
color: white;
}

.table .extra:after, .table .extra:hover {
background-color: red !important;
}

.table .subtotal td, .table .extra td {
color: #3e3e3e;
}
.table .extra td, .table .extra td {
color: #fff;
}

.linha-numero .valor {
text-align: right;
}

.table .valor, .subtotal .valor, .extra .valor {
text-align: right;
}

/*.graph-wrapper {
width: 100%;
margin: 0 auto;
}

.graph {
height: 200px; width: 100%; padding: 25px; background-color: #FFF; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,.2);
}*/
.morris-line {
    text-align: center;
    margin: 0 -10px;
    height: 270px;
}
/*#grafico-ocupacao, #grafico-adr, #grafico-RevPAR {
    height: 250px !important;
}*/
.sempadding {
    padding:0;
}
.line-legend .item {
}

.line-legend .item span {
font-size: 10px;
display: inline-block;
padding: 5px;
color: white;
margin: 5px;
min-width: 30px;
text-align: center;
}

.table th, .table td {
font-size: 11px !important;
}

.legenda-rodape {
margin: 0 auto;
/* display: none; */
width: 100%;
float: left;
position: relative;
margin: 0;
padding: 0;
border-top: 1px solid #CDCDCD;
padding: 10px 0;
}

.legenda-rodape li.texto {
list-style-type: none;
float: left;
font-size: 10px;
}

.legenda-rodape li.linha {
list-style-type: none;
width: 10px;
height: 2px;
float: left;
margin: 7px 5px 0 5px;
}

.legenda-rodape li.linha.red {
border: 1px solid red;
}


.legenda-rodape li.linha.black {
border: 1px solid black;
border-style: dashed;
}

.legenda-rodape li.linha.gray {
border: 1px solid #c0c0c0;
border-style: dashed;
}

.donut-legend {
font-size: 15px;
}

.btn-geral.active {
	background: #e30613 !important;
	color:  #FFF !important;
	border: 1px solid #e30613 ; 
}

.morris-donut {
    display: inline-block;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.morris-hover.morris-default-style {
    position: absolute;
    font-size: 12px;
    width: 154px;
    height: auto;
    margin-top: 100px;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #CDCDCD;
}
.noticias-dashboard {
    padding: 0;
    height: 367px;
}
.grid-hoteis h5 {
    font-size: 15px;
}
.grid-hoteis .checkbox a, .grid-hoteis .checkbox {
    color: #4e4e4e;
    font-size: 13px;
    margin: -6px 0 0 20px;
}
/* ------------ / Tutorial ------------ */

.up:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 100%;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 121px solid transparent;
    position: absolute;
    left: -40px;
    top: -30px;
}
.box-setas {
    width: 100%;
    height: auto;
	background:  #f8f8f8;
}
.titulo-box {
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    margin-bottom: 0;
    padding: 30px 20px 4px 20px;
}
.box-setas ul span {
    width: 40px;
    height: 40px;
    background: #fe0e00;
    position: relative;
    float: left;
    border-radius: 8px;
	margin-left:  10px;
}
.box-setas ul {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: 15px;
}
.nota {
    width: 100%;
    text-align: justify;
    font-size: 10px;
    background: #f8f8f8;
    padding: 10px 32px 10px 15px;
}
.box-setas ul li {
    list-style: none;
	border-top: 1px solid  #f0f0f0;
	border-bottom: 1px solid  #f0f0f0;
	padding:  10px 50px;
	height:  90px;
	transition:  all ease-in 0.2s;
}
.box-setas ul li:hover {
    background: #FFF;
    box-shadow: 8px 1px 7px 2px rgba(0,0,0,0.2) !important;
}
.box-setas h2 {
    font-size: 20px;
    width: 80%;
    padding-left: 30px;
    float: left;
    font-weight: bold;
}
.box-setas p {
    float: left;
    position: relative;
    padding-left: 30px;
    margin-top: -11px;
}
.box-setas b {
    float: left;
    width: 100%;
	color: #b2afb0;
    font-size: 12px;
	text-transform:  uppercase;
	font-style: normal;
	margin-bottom:  5px;
}
.box-setas ul span.bottom {
    background: url("../img/seta-bottom-grafico.png") no-repeat center;
}

.box-setas ul span.top {
    background: url("../img/seta-top-grafico.png") no-repeat center;
}

.box-setas ul span.gray {
    background-color: #adadad;
}

.box-setas ul span.red {
    background-color: #fe0e00;
}

.box-setas .gray.up:before {
    border-bottom: 30px  solid gray;
}
.box-setas .black.up:before {
    border-bottom: 30px  solid #000000;
}

.down:before {
  	content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 100%;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 121px solid transparent;
    position: absolute;
    left: -40px;
    bottom: -30px;
}
.box-setas .black.down:before {
    border-top: 30px solid #000000;
}
.box-setas .gray.down:before {
    border-top: 30px solid gray;
}
/*.box-setas .seta{
 	position: relative;
	margin:  20px 0;
}
.box-setas .seta {
    margin: 10px 0 55px 16%;
    width: 27%;
    height: 130px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: white;
    line-height: 14px;
	padding:  15px 0;
}*/
.obs {
    font-size: 12px;
    color: #666;
    padding: 14px 12px;
    float: left;
}
.scroll-personalizada table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
}
.scroll-personalizada thead {
    background-color: #EFEFEF;
}
.scroll-personalizada thead, .scroll-personalizada tbody {
    display: block;
}
.scroll-personalizada tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
}
.scroll-personalizada td, .scroll-personalizada th {
    min-width: 91px;
    height: auto;
}
.scroll-personalizada .table thead tr {
	background-color: #FFF;
}
.scroll-personalizada .table tbody tr {
	background:  #fafafa;
}
.scroll-personalizada .table thead {
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.2) !important;
    border: none;
    background: #FFF;
    z-index: 1;
    position: relative;
}
.scroll-personalizada .table thead tr th {
    color: #666 !important;
    padding: 20px .75rem !important;
    border: none;
    text-align: right;
}
.scroll-personalizada i {
    background: #c8c7ca;
    color: #FFF;
    border-radius: 3px;
    padding: 2px 6px;
    text-transform: inherit;
    font-style: initial;
    font-size: 12px;
    float: right;
}
.tabela-personalizada .barra-titulo{
	padding:  60px 20px 5px 100px;	
}
.scroll-personalizada .table tbody tr:hover {
    border-left: 10px solid red;
	background:  #fff;
}
.scroll-personalizada tr {
    position: relative;
    width: 100%;
    display: inline-table;
	transition:  all ease-in 0.2s;
	cursor:  pointer;
}
.btn-padrao.pesquisa {
    background: #e30613;
    padding: 12px 30px;
    color: #FFF;
    border-radius: 0;
    float: right !important;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 24px;
    margin-top: 2px !important;
}
.center{
	text-align:  center !important;
}
.filtro-personalizada .icon-form {
    float: left;
    padding-right: 10px;
}
.filtro-personalizada.filtros_busca label {
    margin: 13px 5px 0 5px;
	font-size: 15px;
}
.filtro-personalizada.filtros_busca input {
    margin: 17px 0 0 4px;
}
.filtro-personalizada.filtros_busca .form-control {
    border: 1px solid #d6d6d6;
    border-radius: 0;
    background: #fbfaff;
    font-size: 14px;
    padding: 4px;
    margin: -5px !important;
    padding-right: 10px;
    padding-left: 10px;
    height: 45px;
    margin-right: 10px !important;
    width: auto !important;
    margin-left: 5px !important;
    min-width: 50px !important;
    border-radius: 22px;
    padding: 10px 20px;
    margin-top: 2px !important;
}
.filtro-personalizada label.label_filtro {
    font-size: 15px;
    position: relative;
    margin-top: 12px !important;
}
.filtro-personalizada .filtros_busca {
    background: #FFF;
    padding: 25px 40px 20px 40px !important;
}
.sombra {
    box-shadow: 2px 4px 3px 0px rgba(0,0,0,0.1) !important;
    width: 120%;
    height: 67px;
    position: absolute;
    top: -8px;
    margin-left: -50px;
    z-index: 5;
	background:  #FFF;
	
}
.box-dashboard-filtro h4{
	color:  #3e3e3e;
	font-size:  20px;
	font-weight:  bold;
	border-left:  5px solid #ff0e00;
	padding:  3px 0 3px 5px;
}










.table-sazo{
	margin-top:  -20px;
}

.table-sazo tfoot{
    width: 100%;
    float: left;
}

.table-sazo table {
    border-collapse: collapse;
    width: 100%;
    display: block;
}
.table-sazo thead {
    background-color: #EFEFEF;
}
.table-sazo thead, .table-sazo tbody {
    display: block;
}
.table-sazo tbody {
    height: auto;
}
.table-sazo td, .table-sazo th {
    min-width: 91px;
    height: auto;
}
.table-sazo .table thead tr {
	background-color: #FFF;
}
.table-sazo .table tbody tr {
	background:  #fafafa;
}
.table-sazo .table thead {
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.2) !important;
    border: none;
    background: #FFF;
    z-index: 1;
    position: relative;
}
.table-sazo .table thead tr th {
    color: #666 !important;
    padding: 20px .75rem !important;
    border: none;
    text-align: right;
}
.table-sazo i {
    background: #c8c7ca;
    color: #FFF;
    border-radius: 3px;
    padding: 2px 6px;
    text-transform: inherit;
    font-style: initial;
    font-size: 12px;
    float: right;
}
.table-sazo .barra-titulo{
	padding:  60px 20px 5px 100px;	
}
.table-sazo .table tbody tr:hover {
    border-left: 10px solid red;
	background:  #fff;
}
.table-sazo tr {
    position: relative;
    width: 100%;
    display: inline-table;
	transition:  all ease-in 0.2s;
	cursor:  pointer;
}
.box-pdf li {
    width: 25%;
    position: relative;
    float: left;
    background: #626468;
    border: 20px solid #eeeeee;
    padding: 15px 80px 15px 15px;
    color: #FFF;
    list-style: none;
    overflow: hidden;
    min-height: 185px;
}
.box-pdf i {
    background: #e30613;
    padding: 20px 15px;
    position: absolute;
    line-height: 2px;
    color: #FFF;
	transition:  all ease-in 0.2s;
    bottom: 0px;
    right: 7px;
}
.box-pdf i:hover {
    background: #a72719;
}
.box-pdf .icon-pdf {
    color: #6d6e70;
    background: none !important;
    padding: 0;
    top: 15px;
    right: 6px;
    font-size: 93px;
    border: none;
}










/* width */
::-webkit-scrollbar {
  width: 8px;
	height:  8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:  5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (min-width: 1501px) and (max-width: 1700px) {
	.list-noticia h2 {
		font-size: 15px;
	}
	.selecione-hotel {
		margin-top: 5px;
	}
	.accordian li {
		width: 15%;
	}
}

@media (min-width: 992px) and (max-width: 1500px) {	
	.legenda-rodape li.texto {
		list-style-type: none;
		float: left;
		font-size: 9px;
	}	
	.graficos {
		padding: 18px 10px 10px 10px;
		transition: all ease-in 0.2s;
	}
	.titulo-form b {
		float: left;
		font-size: 13px;
		padding: 8px 10px 1px 10px !important;
		font-weight: normal;
	}
	.up:before {
		border-left: 95px solid transparent;
		border-right: 95px solid transparent;
	}
	.down:before {
		border-left: 95px solid transparent;
		border-right: 95px solid transparent;
	}
	.accordian li {
		width: 14.3%;
	}
	.descricao-hotel {
		padding: 20px 35px;
		position: relative;
	}
	.descricao-hotel-logo {
		position: relative;
		background: #FFF;
		padding: 35px 40px;
		width: 600px;
		height: auto;
		float: right;
		margin: 184px 37px 44px 50px;
	}

	.simplebar-content-wrapper {
		overflow: hidden scroll !important;
	}	
	.login h2 {
		font-size: 30px;
		margin-top: 18px;
	}
	label {
		
		margin: 2px 0;
		margin-top: 25px;
		
	}
	.dashboard-box {
		padding: 0 30px 0 30px;
	}
	.menu-investidor-lista i {
		margin-left: 25px;
	}
	.menu-investidor-lista a {
		font-size: 11px !important;
	}
	.dashboard {
		padding: 10px 35px 0 35px;
	}
	.menu-investidor {
		width: 220px;
	}
	.investidor {
		padding-left: 220px;
	}
	.menu-investidor h3 {
		font-size: 18px;
	}
	.menu-investidor .foto-hotel {
		height: 130px;
	}
	.menu-investidor h5 {
		padding-top: 29px;
	}
	.menu-investidor .logo-jll {
		height: 60px;
	}
	.menu-investidor .logo-jll img {
		width: 75px;
	}
	.top-investidor {
		height: 60px;
	}
	.selecione-hoteis {
		padding: 19px 0px 12px 20px;
		height: 60px;
	}
	.selecione-hotel {
		margin-top: 4px;
	}
	.top-investidor .foto-user {
		background: url(../img/foto-user.png) no-repeat center / cover;
		width: 40px;
		height: 40px;
		margin: 12px 31px 8px 0;
		border: 2px solid #FFF;
	}
	.grid-hoteis h5 {
		font-size: 13px;
		margin-left: 12px;
	}
	.dados-bancarios li {
		font-size: 12px;
	}
	.list-ir p {
   	 	width: 60%;
	}
	.foto-user span {
		right: -24px;
		top: 14px;
	}
	.notificacoes {
		margin: 35px 15px 7px 10px !important;
	}
	.top-investidor .notificacoes {
		margin: 18px 15px 7px 10px !important;
	}
	.btn-geral {
		padding: 6px 9px;
		font-size: 12px;
		margin-left: 2px;
	}
	.filtros, .titulo {
		padding: 25px 15px 5px 15px;
	}
	.titulo-form span {
		font-size: 20px;
	}
	.dados-bancarios h4 {
		font-size: 18px;
	}
	.titulo h2 {
		font-size: 22px;
	}
	.logo-hotel {
    	padding: 5px 10px 5px 10px;
	}
	.graficos .titulo img {
		width: 25px;
		height: 25px;
	}
	.graficos .titulo {
		font-size: 14px;
	}
	.menu-investidor-lista .principal {
		font-size: 12px;
		line-height: 22px;
	}
	.notificacoes {
		width: 32px;
		height: 32px;
		padding: 4px;
	}
	.rendimento h2 {
		font-size: 22px;
	}
	.rendimento img{
		width:  40px;
		height:  40px;
	}
	.rendimento h2 {
		font-size: 18px;
	}
	.rendimento h4 {
		font-size: 15px;
	}
	.noticia-destaque span {
		padding: 7px 16px 8px 31px;
		font-size: 13px;
		background: #5b5d61 url(../img/icon-noticias.png) no-repeat 12px 10px;
	}
	.list-noticia {
		padding: 30px 20px;
		height: 174px;
	}
	.list-noticia h2 {
		font-size: 15px;
	}
	.list-noticia {
		padding: 30px 20px;
		height: 155px;
	}
	.noticia-destaque {
		height: 350px;
	}
	.noticia-destaque h3 {
		font-size: 20px;
	}
	.btn-geral3 {
		padding: 9px 25px 9px 25px;
	}
	.menu-investidor-lista .principal {
		padding: 10px 0 10px 5px;
	}
	.menu-investidor-lista a {
    	padding: 0 10px 0 56px;
	}
	.donut-legend {
		width: 200%;
	}
	.btn-padrao {
		padding: 12px 20px;
		font-size: 14px;
	}
	.filtro {
		padding: 36px 20px 16px 20px;
		height: auto;
	}
	.login {
		padding: 50px 11%;
	}
	.conta {
		padding-left: 20px;
	}
	.form-row span {
		position: relative;
		font-size: 11px;
		left: 0;
		top: -13px;
		padding: 0;
		text-align: left;
	}
	.filtro .btn-geral4 {
		margin-left: 0;
		margin-right: 15px;
	}
	.icon-form img {
		height: 35px;
		width: 35px;
	}
	.filtro-personalizada.filtros_busca .form-control {
		height: 31px !important;
		min-width: 50px !important;
		padding: 3px 13px !important;
		margin-top: 3px !important;
	}
	.filtro-personalizada label.label_filtro {
		margin-top: 8px !important;
	}
	.btn-padrao.pesquisa {
		padding: 6px 20px 6px 20px;
		font-size: 12px;
		margin-top: 4px !important;
	}
	.filtro-personalizada.filtros_busca label {
		margin: 7px 5px 0 5px;
		font-size: 14px;
	}
	.filtro-personalizada.filtros_busca input {
		margin: 11px 0 0 4px;
	}
	.tabela-personalizada .barra-titulo {
		padding: 40px 20px 5px 100px;
	}
	.barra-titulo {
		margin-bottom: 32px;
	}
	.scroll-personalizada td, .scroll-personalizada th {
		min-width: 80px;
	}
	.tabela-personalizada .barra-titulo {
		padding: 40px 20px 5px 92px;
	}
	.item-hotel .foto{
		height: 130px !important;
	}
	.accordian {
		height: 500px;
	}
	.accordian ul li:hover {
		width: 30%;
	}
	.menu-investidor.fechado .logo-jll {
		padding-top: 0;
	}
	.menu-investidor.fechado .simplebar-content-wrapper, .menu-investidor.fechado  .simplebar-mask, .menu-investidor.fechado .simplebar-wrapper{
		overflow: inherit !important;
	}
	.item-graficos, .boxnoticias{
		padding-right: 5px;
    	padding-left: 5px;
	}
	.box-dashboard-filtro h4 {
		font-size: 15px;
	}
	.table-sazo td, .table-sazo th {
		height: auto;
		min-width: 48px;
	}
	.tb-dis .scroll-personalizada td, .tb-dis .scroll-personalizada th {
		min-width: 110px;
	}
.graficos .titulo {
    padding: 5px 32px 10px 53px;
	}
}

@media (min-width: 1201px) and (max-width: 1300px) {
	.list-noticia {
		padding: 30px 20px 14px 20px;
		height: 144px;
	}
	.login h2 {
    	font-size: 30px;
	}
	.accordian li {
		width: 12.5%;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.accordian li {
		width: 9.5%;
	}
	.accordian li a {
    	height: 500px;
	}
	.accordian h2 {
		font-size: 20px;
	}
	.descricao-hotel-logo {
		position: relative;
		background: #FFF;
		padding: 35px 40px;
		width: 92%;
		height: auto;
		float: right;
		margin: 4%;
		margin-top: 279px;
	}
	.banner-hotel {
		width: 100%;
		height: 254px;
		margin-bottom: 250px;
		position: relative;
	}
	.login {
		padding: 80px 8%;
	}
	.divisao {
		height: 3px;
		margin: 28px 0 30px 0;
	}
	.login h2 {
    	font-size: 24px;
	}
	.dashboard-int {
		padding: 10px 20px 20px 20px;
	}
	.list-noticia:nth-child(3), .list-noticia:nth-child(4){
		display:  none;
	}
	.list-noticia {
		padding: 21px 19px;
		height: auto;
	}
	.menu-investidor-lista a {
		font-size: 11px;
		color: #969696;
		width: 100%;
	}
	.donut-legend {
		width: 200% !important;
	}
	.corpo {
		position: fixed;
	}
	.slick-prev {
		width: 39px;
		left: -39px;
	}
	.slick-next {
		width: 39px;
		right: -39px;
		background: url(../img/setas.png) no-repeat -19px -52px;
	}
	.descricao-hotel {
		padding: 20px 32px;
	}
	.descricao-hotel h3 {
		font-size: 23px;
	}
	.galeria-foto.medio {
		height: 100px;
	}
	.galeria-foto {
		height: 220px;
	}
}
@media (min-width: 576px) and (max-width: 991px) {
	.descricao-hotel-logo {
		position: relative;
		background: #FFF;
		padding: 35px 40px;
		width: 96%;
		height: auto;
		float: right;
		margin: 2%;
		margin-top: 279px;
	}
	.banner-hotel {
		width: 100%;
		height: 254px;
		margin-bottom: 290px;
		position: relative;
	}
	.form-row span {
		position: relative;
		font-size: 11px;
		left: 0;
		top: -13px;
		padding: 0;
		text-align: left;
	}
	.dados-bancarios .box-dashboard {
		padding: 25px;
	}
	.dados-bancarios h4{
		font-size:  20px;
	}
	.conta {
		padding-left: 15px;
	}
	.dados-bancarios li {
		font-size: 13px;
	}
	.filtro {
		padding: 20px 20px 20px 20px;
		text-align: left;
	}
	.filtro .btn-geral4 {
		margin-left: 0;
		margin-right: 15px;
	}
	.grid-hoteis h5 {
		font-size: 15px;
	}
	.magic-radio + label, .magic-checkbox + label {
		margin: -12px 0 0 12px !important;
	}
	.login {
		width: auto;
	}
	.login {
		padding: 25px 27%;
		position: relative;
	}
	.divisao {
		width: 60px;
		height: 3px;
		margin: 15px 0 16px 0;
	}
	.logo  img{
		width:  120px;
	}
	.login p {
		font-size: 16px;
		margin-bottom: 29px;
	}
	.login h2 {
		font-size: 26px;
	}
	.bg{
		display:  none;
	}
	.form-group input {
		height: 40px;
	}
	.foto-user {
		margin: 16px 20px 20px 0;
	}
	.notificacoes {
		margin: 20px 15px;
	}
	.titulo-form span {
		font-size: 20px;
	}
	.dashboard-box {
		padding: 0 10px 0 10px;
	}
	.titulo-form {
		height: 36px;
	}
	label {
		font-size: 13px;
		margin: 4px 0;
		margin-top: 15px;
	}
	.top-investidor {
		height: 80px;
	}
	.form-control {
		font-size: 14px;
		padding: 10px;
		height: 39px;
	}
	.dashboard-int {
		padding: 10px 30px 20px 30px;
	}
	.btn-padrao {
		padding: 8px 15px;
		font-size: 13px;
		border: 0;
	}
	.descricao-hotel {
		padding: 12px 28px;
	}
	.banner-hotel .detalhes {
		height: 100px;
		margin-top: 140px;
	}
	.descricao-hotel h3 {
		font-size: 20px;
	}
	.top-investidor .hoteis {
		padding: 0 10px 0 0;
	}
	.titulo h2 {
		font-size: 18px;
	}
	.banner-hotel .detalhes {
		height: 69px;
	}
	.corpo {
		position: fixed;
	}
	.slick-prev {
		left: -20px;
	}
	.slick-next {
		right: -23px;
	}
	.menu-investidor-lista i {
		margin-left: 25px;
	}	
	.menu-investidor-lista a {
    	padding: 0px 10px 0 60px;
	}
	.investidor {
		padding-left: 0;
	}
	.btn-menu-principal, .foto-hotel{
		display:  none;

	}
	.dashboard {
		padding: 10px 20px 0 20px;
		width: 100%;
	}
	.foto-user {
		width: 40px;
		height: 40px;
	}
	.foto-user span {
		top: 37px;
    	right: 9px;
	}
	.btn-geral {
		padding: 6px 10px;
		font-size: 12px;
	}
	 .titulo {
		padding: 10px 15px 0 15px;
	}
	.filtros {
		padding: 10px 8px 15px 8px;
	}
	.descricao-noticia h2 {
		font-size: 18px;
	}
	.list-noticia {
		padding: 16px 6px;
	}
	.list-noticia h2 {
		font-size: 15px;
	}
	.list-noticia a {
		font-size: 13px;
	}
	.box-dashboard {
		padding: 20px 20px 52px 20px;
	}
	.box-dashboard.noticias-dashboard{
		padding:  0;
	}
	.menu-investidor{
		z-index:  999;
		width:  100%;
		position:  absolute;
		height: inherit !important;
	}
	.menu-investidor .logo-jll {
		height: auto;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 20px;
		text-align:  left;
	}
	.menu-investidor .logo-jll img{
		width:  80px;
	}
	.menu-investidor-lista {
		margin-top: 0;
		padding: 86px 0;
		width: 100%;
		position:  fixed;
	}
	.bar{
		width:  100%;
	}
	.btn-menu-principal-mobile{
		display:  block;
		float:  right;
		padding:  5px 20px;
		color:  #FFF;
	}
	.btn-menu-principal-mobile i{
		color:  #FFF;
		padding:  0 5px;
	}
	.menu-investidor-lista{
		display:  none;
	}
	#busca {
    	background: #FFF;
	}
	.logo-jll{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;	
	}
	.top-investidor {
		margin-top: 72px;
	}
	#busca {
		width: 150px;
	}
	.select-hoteis {
		padding:  0 40px;
	}
	.list-noticia{
		height: 122px;
	}
	.noticia-destaque {
		height: 266px;
	}
	.noticia-destaque h2 {
		margin: 59px 0 0 0;
	}
	.btn-geral2 {
		padding: 9px 46px 7px 21px;
	}
	.foto-user span {
		top: 34px;
		right: 9px;
	}
	.icon-form img {
		height: 35px;
		width: 35px;
	}
	.filtro-personalizada.filtros_busca .form-control {
		height: 31px !important;
		min-width: 50px !important;
		padding: 3px 13px !important;
		margin-top: 3px !important;
	}
	.filtro-personalizada label.label_filtro {
		margin-top: 8px !important;
	}
	.btn-padrao.pesquisa {
		padding: 6px 20px 6px 20px;
		font-size: 12px;
		margin-top: 4px !important;
	}
	.filtro-personalizada.filtros_busca label {
		margin: 7px 5px 0 5px;
		font-size: 14px;
	}
	.filtro-personalizada.filtros_busca input {
		margin: 11px 0 0 4px;
	}
	.tabela-personalizada .barra-titulo {
		padding: 40px 20px 5px 100px;
	}
	.barra-titulo {
		margin-bottom: 32px;
	}
	.scroll-personalizada td, .scroll-personalizada th {
		min-width: 80px;
	}
	.tabela-personalizada .barra-titulo {
		padding: 40px 20px 5px 92px;
	}	
}
@media (min-width: 576px) and (max-width: 767px) {
	
	.noticia-destaque h3 {
    	font-size: 19px;
	}
	.item-hotel h3 {
		font-size: 13px;
	}
	.slick-prev {
		left: -20px;
	}
	.slick-next {
		right: -23px;
	}
	.icon-user {
		background: url(../img/icons.png) no-repeat -4px -6px;
	}
	.login {
		width: auto;
	}
	.filtro {
		padding: 55px 20px 20px 20px;
		text-align: center;
	}
	.conta {
		padding-left: 0;
	}
	.grid-hoteis h5 {
		font-size: 15px;
	}
	.magic-radio + label, .magic-checkbox + label {
		margin: -12px 0 0 12px !important;
	}

}


@media (min-width: 0px) and (max-width: 370px) {
	.login {
		width: auto;
	}
	label {
		font-size: 12px;
		margin: 10px 0 0 0;
	}
	.form-row>.col, .form-row>[class*=col-] {
		padding-right: 5px;
		padding-left: 5px;
	}
	.dados-bancarios .box-dashboard .btn-geral {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 0px) and (max-width: 575px) {
	.btn-geral4 {
		font-size: 12px;
	}	
	.up:before {
		border-left: 85px solid transparent;
		border-right: 85px solid transparent;
	}
	.down:before {
		border-left: 85px solid transparent;
		border-right: 85px solid transparent;
	}
	.panel {
		height:  auto !important;
	}
	
	span.item {
		float: left;
	}
	.accordian ul {
		width: 100%;
	}
	.full {
		width: 100%;
		float: left;
		position: relative;
		height: 91px;
	}
	.fullitem{
		width:  48%;
		float: left;
		position: relative;
		margin:  1%;
	}
	.fullitem .form-control{
		width: 100% !important;
		float: left  !important;
		position: relative;
		margin-bottom:  5px;
		margin-top:  5px;
	}
	.fullitem  label {
		margin-bottom: 5px;
	}
	.accordian li {
		width: 100%;
		margin-bottom: 15px;
	}
	.box-dashboard-filtro a{
		margin-left:  8px !important;
	}
	.accordian li a {
		height: 280px;
	}
	.descricao-hotel-logo .lo {
		margin-right: 0;
		margin-bottom: 0;
		width: 130px;
		margin: auto;
		position: relative;
		margin-left: 75px;
	}
	.accordian {
		height: auto;
		margin-bottom:  30px;
	}
	.accordian ul:hover li {
		width: 100%;
	}
	.descricao-hotel-logo {
		position: relative;
		background: #FFF;
		padding: 25px 40px;
		width: 96%;
		height: auto;
		float: right;
		margin: 2%;
		margin-top: 260px;
	}
	.banner-hotel {
		width: 100%;
		height: 254px;
		margin-bottom: 420px;
		position: relative;
	}
	.graficos {
		height: auto;
	}	
	.filtros p {
		width: 100%;
		float: left;
		margin-bottom: 8px;
	}	
	#pwindicator {
		margin-top: 0 !important;
	}
	.simplebar-content-wrapper{
		overflow: scroll !important;
		width: 100% !important;
	
	}
	.selecione-hoteis b {
		width: 100%;
		float: left;
	}
	.selecione-hotel {
		margin-top: -10px;
	}
	.filt a {
		float: left;
		margin-right: 5px;
	}
	.filt a.ativo {
		width: 40px;
	}
	.filt a.ativo span {
		display:  none;
	}
	.list-noticia {
		height: auto;
	}
	.donut-legend {
		padding-top: 0;
	}
	.dashboard-int .row{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.item-hotel .descricao {
		padding: 30px 10px;
	}
	.titulo h2 {
		font-size: 20px;
		margin-top: 10px;
	}
	.item-hotel h3 {
		font-size: 16px;
	}
	.menu-investidor-lista i {
		margin-left: 25px;
	}	
	.menu-investidor-lista a {
    	padding: 0px 10px 0 60px;
	}
	.investidor {
		padding-left: 0;
	}
	.btn-menu-principal, .foto-hotel{
		display:  none;

	}
	.dashboard {
		padding: 10px 20px 0 20px;
		width: 100%;
	}
	.foto-user {
		width: 40px;
		height: 40px;
		margin: 28px 20px 20px 0;
	}
	.foto-user span {
		top: 37px;
    	right: 9px;
	}
	.btn-geral {
		padding: 6px 8px;
		font-size: 12px;
	}
	 .titulo {
		padding: 10px 15px 0 15px;
	}
	.filtros {
		padding: 10px 8px 15px 8px;
		text-align:  center;
	}
	.descricao-noticia h2 {
		font-size: 18px;
	}
	.list-noticia {
		padding: 16px 6px;
	}
	.list-noticia h2 {
		font-size: 13px;
	}
	.list-noticia a {
		font-size: 13px;
	}
	.box-dashboard {
		padding: 20px 20px 52px 20px;
	}
	.box-dashboard.noticias-dashboard{
		padding:  0;
	}
	.menu-investidor{
		z-index:  999;
		width:  100%;
		position:  absolute;
		height: inherit !important;
	}
	.menu-investidor .logo-jll {
		height: auto;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 20px;
		text-align:  left;
	}
	.menu-investidor .logo-jll img{
		width:  80px;
	}
	.menu-investidor-lista {
		margin-top: 0;
		padding: 86px 0;
		width: 100%;
		position:  fixed;
	}
	.bar{
		width:  100%;
	}
	.btn-menu-principal-mobile{
		display:  block;
		float:  right;
		padding:  5px 20px;
		color:  #FFF;
	}
	.btn-menu-principal-mobile i{
		color:  #FFF;
		padding:  0 5px;
	}
	.menu-investidor-lista{
		display:  none;
	}
	#busca {
    	background: #FFF;
	}
	.logo-jll{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;	
	}
	.top-investidor {
		margin-top: 72px;
	}
	#busca {
		width: 150px;
	}
	.select-hoteis {
		padding:  0 40px;
	}
	.slick-prev {
		left: -10px;
		width: 38px;
	}
	.slick-next {
		right: -10px;
		width: 38px;
		background: url(../img/setas.png) no-repeat -22px -52px;
	}
	.bg{
		display:  none;
	}
	.login h2 {
		font-size: 22px;
	}
	.login {
		padding: 50px 54px;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.login p {
		margin-bottom: 20px;
	}
	.form-group input {
		height: 40px;
	}
	.login  label {
		font-size: 10px;
	}
	.checkbox a, .checkbox {
		font-size: 10px;
	}
	#btnLogin, .btn-btnRecuperaSenha {
		background: #e30713 url(../img/seta.png) 152px 9px no-repeat;
		width: 133px;
		padding: 7px;
	}
	#btnLogin:hover, .btn-btnRecuperaSenha:hover {
		background: #b80913 url(../img/seta.png) 170px 9px no-repeat;
		text-decoration: none;
	}
	.login h3, .login h4 {
		font-size: 14px;
	}
	.divisao {
		width: 80px;
		height: 2px;
		margin: 20px 0 10px 0;
	}
	.descricao-hotel {
		padding: 20px 20px;
	}
	.dashboard-int {
		padding: 10px 5px 20px 5px;
	}
	label {
		font-size: 13px;
		margin: 10px 0 0 0;
	}
	.filtro {
		padding: 20px 0 30px 0px;
		height: 61px;
	}
	.conta {
		padding-left: 15px;
	}
	.form-row{
		float:  inherit;
	}
	.titulo-form span {
		font-size: 16px;
	}
	.dados-bancarios .box-dashboard {
		padding: 25px;
	}
	.dados-bancarios li {
		font-size: 11px;
	}
	.dados-bancarios h4 {
		font-size: 18px;
	}
	.list-ir {
		padding: 30px 25px;
	}
	.img-ir, .img-documentos{
		height: 200px;
		margin-left: 0;
	}
	.box-noticia-grade {
		padding-right: 15px;
	}
	.descricao-noticia {
		padding: 30px 40px 62px 40px;
	}
	.dados-bancarios li {
		padding: 3px 0;
	}
	.btn-notocias {
		right: 21px;
		bottom: 7px;
	}
	.box-dashboard {
		margin-bottom: 15px;
	}
	.divisao-noticia {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.descricao-noticiajll h2 {
		font-size: 16px;
	}
	.mobilenone{
		display:  none;
	}
	.mobileshow{
		display:  block;
		text-align: center;
	}
	.btn-link, .collapsed {
		color: #969696;
		font-size: 17px;
		text-align: left;
	}
	.btn-link:hover{
		color: #969696;
		text-decoration:  none;
	}
	.btn-link b{
		color: #000;
	}
	.grid-hoteis h5 {
		font-size: 13px;
		margin-left: 14px;
	}
	.listconta .col-1, .listconta .col-2, .listconta .col-4{
		padding-left:  5px !important;
		padding-right:  5px !important;
		margin-bottom:  10px !important;
	}
	.form-row span {
		padding: 0 5px;
	}
	.grid-contas .row, .grid-contas-titulo .row{
		margin:  0;
	}
	.grid-contas-titulo{
		width:  100%;
	}
	.grid-contas-titulo label {
		font-size: 13px;
		margin: 0 0;
	}
	.editarcontas {
		padding: 0;
	}
	.grid-contas-titulo .row {
		padding: 0;
	}
	.atalhos {
		right: 10px;
		top: 92px;
	}
	.bg-menu{
		position: fixed;
		background: rgba(30,30,30,0.70);
		width: 100%;
		height: 100%;
		z-index: 1;
		display:  none;
	}
	.listar-notificacoes {
		top: 92px;
		right: -50px;
	}
	.listar-notificacoes:before {
		top: -7px;
		right: 49px !important;
		border-left: 0 solid transparent;
	}
	.atalhos {
		right: -5px;
	}
	.atalhos {
		width: 300px;
	}
	.atalhos:before, .listar-notificacoes:before {
		top: -7px;
		right: 3px;
		border-left: 0 solid transparent;
	}
	.link-form {
		position: relative;
		width: 100%;
		background: #FFF;
		float: left;
	}
	.list-menu-chamados .titulo-form {
		height: auto;
		margin-bottom: 10px;
	}
	.list-menu-chamados .titulo-form span {
		margin-right: 25px;
		width: 100%;
		padding: 5px 25px;
	}
	.dashboard-box {
		padding: 0 30px 0 30px;
		margin: 11px 0;
	}
	.list-menu-chamados .titulo-form span:hover, .list-menu-chamados .titulo-form span.ativo {
		cursor: pointer;
		font-weight: 600 !important;
		background: #e30613;
		color: #FFF;
		border:  none;
	}
	.list-ir li {
		float: left;
		position: relative;
		height:  auto;
		padding: 20px 18px 15px 40px;
	}
	.list-ir p {
		width: 100%;
		float: left;
		margin-bottom:  5px;
	}
	.corpo {
		position: fixed;
	}
	.graficos .titulo i {
		padding: 7px 5px;
		font-size: 12px;
		right: 44px;
		width: 27px;
		height: 27px;
		text-align:  center;
	}
	.banner-hotel .detalhes {
		width: 100%;
		height: 72px;
		margin-top: 158px;
	}
	.descricao-hotel h3 {
		font-size: 23px;
	}
	.banner-hotel {
		height: 230px;
	}
	.descricao-hotel h2 {
		padding-top: 0;
	}
	.galeria-foto {
		height: 200px;
		margin-bottom: 20px;
	}
	.form-control {
		padding: 10px;
		height: 35px;
	}
	.btn-padrao {
		padding: 5px 30px;
		margin: 5px 0 25px 0;
		font-size: 14px;
	}
	.titulo-form i {
		margin-right: 3px;
		top: -3px;
		left: 0;
	}
	.btn-geral4 {
		padding: 8px 12px;
		margin-top:  20px;
	}
	.filtro .btn-geral4 {
		margin-left: 5px;
		margin-right: 5px;
	}
	.card-body {
		text-align: left;
	}
	.card-body  .titulo-form {
		margin-bottom: 20px;
	}
	.mb-0, .my-0 {
		margin-bottom: 0 !important;
		text-align: left;
	}
	.form-control {
		height: 39px;
	}
	.logo-internas {
		padding: 20px 20px 20px 0;
		margin-left: 0;
		width:  120px;
	}
	.notificacoes {
		margin: 30px 10px;
	}
	.aberto .graficos{
		overflow:  hidden;

	}
	.top-investidor .hoteis {
		padding: 0 0 0 0;
	}
	.filtro-personalizada.filtros_busca .form-control {
		max-width: 86px;
	}
	.btn-padrao.pesquisa {
		position: absolute;
		width: 97% !important;
		text-align: center;
		bottom: -50px;
	}
	.filtro-personalizada.filtros_busca .form-control {
		margin-top: 5px !important;
		width: 100% !important;
		max-width: inherit;
	}
	.filtro-personalizada label.label_filtro {
		width: 100% !important;
		float: left !important;
		display: block;
	}
	.filtro-personalizada {
		background: #FFF;
		padding: 20px !important;
		height: 223px;
	}
	.scroll-personalizada td, .scroll-personalizada th {
		min-width: 67px;
	}
	.tabela-personalizada .barra-titulo {
		padding: 60px 20px 5px 77px;
	}
	.icon-form{
		display:  none;
	}
	
}

